<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/extend-master}">
<head>

<script>
    $(function() {
        $(".box,.number,.text").click(function() {
            $(this).css('background-color', '#0076BA');
            $(this).css('color', '#FFFFFF');
            $(this).css('color', '#FFFFFF');
        });
    });
    
    var count = 0;
    function allCheck(){
  	  count++;
  	  
  	  if(count == 1){
  		  $('.checkCls').prop("checked",true);
  	  } else{
  		  count = 0;
  		  $('.checkCls').prop("checked",false);
  	  }
    }
    
    function cancelBar(){
  	  var id = document.getElementById("closeKey");
  	  id.style.display = "block";
  	  if($('#searchBar').val() == null || $('#searchBar').val() == ""){
  		  id.style.display = "none";
  	  }
    }
    </script>
<body>
	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						<div class="row margin_topbot">
							<div class="col-md-8 padding-7">
								<div class="input-style row">
									<input type="text" id="searchBar" placeholder="Search.."
										name="search" class="searchboxinput" onkeyup="cancelBar()">
									<div class="searchicon">
										<a href="#"><span style="display: none" id="closeKey"
											onclick="$('#searchBar').val('');document.getElementById('closeKey').style.display='none';"
											class="close_i">X</span></a> <a href="#"><i
											class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 padding-7">
							<div class="row">

								<div class="section1_big">
									<div class="font-design">REQUISITION LIST (24)</div>
								</div>
								<div class="section2_new"></div>
								<div class="section3_new" align="right"></div>

							</div>
						</div>
						<table class="newtbl">
							<thead>
								<tr>
									<th align="center">Req ID</th>
									<th align="center">Title</th>
									<th align="center"># Ofposition</th>
									<th align="center">Band</th>
									<th align="center">Department</th>
									<th align="center">Hiring Manger</th>
									<th align="center">Join Date</th>
									<th align="center">CTC CAp</th>
									<th align="center">Status</th>
									<th align="center">Applicants</th>
									<th align="center">Shortlisted</th>
									<th align="center">Interviewed</th>
									<th align="center">Offered</th>
									<th align="center">Create Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"><a href="#">8</a></td>
									<td align="left"><a href="#">Software Engineer</a></td>
									<td align="center">2</td>
									<td align="left">Band 4</td>
									<td align="left">Product Development</td>
									<td align="left">Pradip Singh</td>
									<td align="center">8-Nov-20</td>
									<td align="right">600.000</td>
									<td align="center">Active</td>
									<td align="right">8</td>
									<td align="right">5</td>
									<td align="right">3</td>
									<td align="right">0</td>
									<td align="center">9-Oct-20</td>
								</tr>
								<tr>
									<td align="center"><a href="#">7</a></td>
									<td align="left"><a href="#">Software Engineer-ii</a></td>
									<td align="center">1</td>
									<td align="left">Band 6</td>
									<td align="left">Product Development</td>
									<td align="left">Pradip Singh</td>
									<td align="center">10-Oct-20</td>
									<td align="right">1.000.000</td>
									<td align="center">Closed</td>
									<td align="right">20</td>
									<td align="right">9</td>
									<td align="right">8</td>
									<td align="right">1</td>
									<td align="center">9-Oct-20</td>
								</tr>
							</tbody>
						</table>



						<div class="row mt-20">
							<div class="col-md-7 padding-7">
								<div class="font-design">Applicant List (24)</div>
							</div>
							<div class="col-md-5">
								<div class="row">
									<button class="btn1">Shortlist</button>
									<button class="btn2">Schedule Interview</button>
									<button class="btn2">Add Feedback</button>
									<button class="btn2">Select</button>
									<button class="btn2">Generate Offer</button>
									<button class="btn3">Reject</button>
								</div>
							</div>
						</div>
						<table class="newtbl">
							<thead>
								<tr>
									<th align="center" width="20"><input type="checkbox"
										onclick="allCheck()" id="check1"><label for="check1"></label>
									</th>
									<th align="center">ID</th>
									<th align="center">Name</th>
									<th align="center">Location</th>
									<th align="center">DOB</th>
									<th align="center">Experience</th>
									<th align="center">Source</th>
									<th align="center"># of Applications</th>
									<th align="center">Resume</th>
									<th align="center">Candidacy Status</th>
									<th align="center">Application Date</th>
									<th align="center">Shortlist Date</th>
									<th align="center">Last Interview Date</th>
									<th align="center">Feedback</th>
									<th align="center">Decision Date</th>
									<th align="center">Application Age</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"><input class="checkCls" type="checkbox"
										id="check2"><label for="check2"></label></td>
									<td align="center"><a href="#">1023</a></td>
									<td><a href="#">Kamala Suresh</a></td>
									<td align="left">Cochin.India</td>
									<td align="center">14-Jan-99</td>
									<td align="center">5</td>
									<td align="left">Internal</td>
									<td align="center"><a href="#">2</a></td>
									<td align="center"><a href="#">View</a></td>
									<td align="center">Interview Scheduled</td>
									<td align="center">09-Oct-20</td>
									<td align="center">11-Oct-20</td>
									<td align="center">17-Oct-20</td>
									<td align="center"><a href="#">2</a></td>
									<td align="center">&nbsp;</td>
									<td align="center">21</td>
								</tr>
								<tr>
									<td align="center"><input class="checkCls" type="checkbox"
										id="check3"><label for="check3"></label></td>
									<td align="center"><a href="#">1074</a></td>
									<td><a href="#">Tony Sinha</a></td>
									<td align="left">Mumbai.India</td>
									<td align="center">27-Feb-98</td>
									<td align="center">5</td>
									<td align="left">Advanced Group</td>
									<td align="center"><a href="#">1</a></td>
									<td align="center"><a href="#">View</a></td>
									<td align="center">Shortlisted</td>
									<td align="center">10-Oct-20</td>
									<td align="center">12-Oct-20</td>
									<td align="center">&nbsp;</td>
									<td align="center">&nbsp;</td>
									<td align="center">&nbsp;</td>
									<td align="center">20</td>
								</tr>
								<tr>
									<td align="center"><input class="checkCls" type="checkbox"
										id="check4"><label for="check4"></label></td>
									<td align="center"><a href="#">1181</a></td>
									<td><a href="#">Kavita Kumari</a></td>
									<td>Chennai.India</td>
									<td align="center">3-Mar-99</td>
									<td align="center">5</td>
									<td align="left">Internal</td>
									<td align="center"><a href="#">2</a></td>
									<td align="center"><a href="#">View</a></td>
									<td align="center">Interview Scheduled</td>
									<td align="center">09-Oct-20</td>
									<td align="center">12-Oct-20</td>
									<td align="center">21-Oct-20</td>
									<td align="center"><a href="#">0</a></td>
									<td align="center">&nbsp;</td>
									<td align="center">21</td>
								</tr>
								<tr>
									<td align="center"><input class="checkCls" type="checkbox"
										id="check5"><label for="check5"></label></td>
									<td align="center"><a href="#">1004</a></td>
									<td><a href="#">Amal Bhat</a></td>
									<td align="left">Delhi.India</td>
									<td align="center">27-Aug-98</td>
									<td align="center">6</td>
									<td align="left">Global Tech</td>
									<td align="center"><a href="#">1</a></td>
									<td align="center"><a href="#">View</a></td>
									<td align="center">No Activity</td>
									<td align="center">08-Oct-20</td>
									<td align="center">&nbsp;</td>
									<td align="center">&nbsp;</td>
									<td align="center">&nbsp;</td>
									<td align="center">&nbsp;</td>
									<td align="center">22</td>
								</tr>
								<tr>
									<td align="center"><input class="checkCls" type="checkbox"
										id="check6"><label for="check6"></label></td>
									<td align="center"><a href="#">1004</a></td>
									<td><a href="#">Dinesh Bhellia</a></td>
									<td>Delhi.India</td>
									<td align="center">21-Apr-98</td>
									<td align="center">6</td>
									<td align="left">Global Tech</td>
									<td align="center"><a href="#">1</a></td>
									<td align="center"><a href="#">View</a></td>
									<td align="center">No Activity</td>
									<td align="center">07-Oct-20</td>
									<td align="center">&nbsp;</td>
									<td align="center">&nbsp;</td>
									<td align="center">&nbsp;</td>
									<td align="center">&nbsp;</td>
									<td align="center">23</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="myModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">New Application for REQUISITION: 8 -
							Software Engineer</h4>
					</div>
					<!-- Modal body -->
					<div class="modal-body" style="height: 600px;">

						<div class="row">
							<div class="col-md-4">
								<hr>
								<div class="main-div">
									<div class="section2">
										<div class="green-box">
											<div class="green-box-heading">CREATED</div>
											<div class="date">9-oct-2020</div>
										</div>
									</div>
									<div class="section3">
										<div class="green-box">
											<div class="green-box-heading">SHORTLISTED</div>
											<div class="date">11-oct-2020</div>
										</div>
									</div>
									<div class="section4">
										<div class="grey-box">
											<div>CLOSED</div>
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<div class="row">
									<button class="btn1">DELETE</button>
									<button class="btn3">SAVE</button>
									<button class="btn4" type="button" data-dismiss="modal">CANCEL</button>
								</div>
							</div>
						</div>
						<!-- <div class="row">

<div class="col-md-12">
<div class="content_padding">
	<div class="row">
		<div class="newgrid">
			<div class="box border-line" align="center">
				<a href="#" data-toggle="collapse" data-target="#demo">
					<div class="number1">8</div>
					<div class="text1">APPLIED</div>
			    </a>
			</div>
		</div>
		<div class="newgrid">
			<div class="box border-line" align="center">
				<a href="hrms_hire.html">
					<div class="number1">5</div>
					<div class="text1">SHORTLISTED</div>
			    </a>
			</div>
		</div>
		<div class="newgrid">
			<div class="box border-line" align="center">
				<a href="hrms_hire.html">
					<div class="number1">3</div>
					<div class="text1">INTERVIEWED</div>
			    </a>
			</div>
		</div>
		<div class="newgrid">
			<div class="box border-line" align="center">
				<a href="hrms_hire.html">
					<div class="number1">0</div>
					<div class="text1">OFFERED</div>
			    </a>
			</div>
		</div>

		
	</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-4">
<div class="form-group">
    <label>Job Title</label>
    <input type="text" class="form-control"  placeholder="Software Engineer">
  </div>
</div>
<div class="col-md-4">
	<div class="form-group">
    <label>Create Date</label>
    <input type="text" class="form-control no-border"  placeholder="9-oct-2020">
  </div>
</div>
<div class="col-md-4">
	<div class="form-group">
    <label>Created By</label>
    <input type="text" class="form-control no-border"  placeholder="Manoj Sen">
  </div>
</div>
<div class="col-md-4">
<div class="form-group">
    <label>Job Type</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Ii Developer</option>
    </select>
  </div>
</div>
<div class="col-md-4">
	<div class="form-group">
    <label>Band</label>
    <input type="text" class="form-control no-border"  placeholder="Band4">
  </div>
</div>
<div class="col-md-4">
	<div class="form-group">
    <label>Department</label>
   <select class="form-control" id="exampleFormControlSelect1">
      <option>Product Development</option>
    </select>
  </div>
</div>

<div class="col-md-4">
	<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Include about company
  </label>
</div>
</div>
<div class="col-md-4">
	<div class="form-group">
    <label>job location</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Chicago,IL</option>
    </select>
  </div>
</div>

<div class="col-md-4">
<div class="form-group">
    <label>Hiring Manager</label>
   <select class="form-control" id="exampleFormControlSelect1">
      <option>Pradip Singh</option>
    </select>
  </div>
</div>
<div class="col-md-4">
	<div class="form-group">
    <label>Minimum Education Required</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>B-Tech</option>
    </select>
  </div>
</div>
<div class="col-md-4">
	<div class="form-group">
    <label>Excepted Work hours</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>8AM-5PM (Mon-Fri)</option>
    </select>
  </div>
</div>
<div class="col-md-4">
<div class="form-group">
    <label>Number of Position</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>2</option>
    </select>
  </div>
</div>
<div class="col-md-4">
	<div class="form-group">
    <label>Annual Salary Range (Minimum)</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>200,000</option>
    </select>
  </div>
</div>
<div class="col-md-4">
	<div class="form-group">
    <label>Annual Salary Range (Maximum)</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>500,000</option>
    </select>
  </div>
</div>
</div>
<div class="row">
                <div class="col-md-12">
                    <div class="modal-inrheading">Position Summary</div>
                    <div class="position-box">
                        <div class="position-text">
                            The Developer’s primary role is to transform business functional requirements into technical solutions as well as provide 2nd and 3rd level tier support for Salesforce applications. The Developer is expected to perform analysis,design, development, and implementation of process and technology within the Salesforce suite of applications.
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-inrheading">Position Responsibility</div>
                    <div class="position-box">
                        <div class="position-text">
                            Analysis, design, development, and implement new and/or existing business applications and software.
                           Development will include interface and integration work.Develop customized solutions within the Salesforce platform to support critical business functions and meet projectobjectives, business requirements and goals.
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-inrheading">Required Skills and Experience</div>
                    <div class="position-box">
                        <div class="position-text">
                            Bachelor’s Degree in Computer Science, Management Information Systems or related field. 3+ years working as a Salesforce Developer.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Bonus</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Disability Insurance</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Paid Time Off</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                      <label><input type="checkbox" value="">401(k)</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Health Insurance</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Retirement Plan</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                      <label><input type="checkbox" value="">401(k) Match</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Flexible Schedule</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Vision Insurance</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Dental Insurance</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Life Insurance</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Need Approval</label>
                    </div>
                </div>
                <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Approver</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Pinaki Datta</option>
                        </select>
                      </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-inrheading">Activity History</div>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td align="center">Date</td>
                            <td align="center">Activity</td>
                            <td align="center">By</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td align="center">10-Oct-20 <span>04:48PM</span></td>
                            <td align="left">Updated</td>
                            <td align="center">Pinaki Datta</td>
                          </tr>
                          <tr>
                            <td align="center">08-Nov-20 <span>10:29PM</span></td>
                            <td align="left">Created</td>
                            <td align="center">Manoj Sen</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td align="center">Req ID</td>
                            <td align="center">Title</td>
                            <td align="center"># Ofposition</td>
                            <td align="center">Band</td>
                            <td align="center">Department</td>
                            <td align="center">Hiring Manger</td>
                            <td align="center">Join Date</td>
                            <td align="center">CTC CAp</td>
                            <td align="center">Status</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td align="center">8</td>
                            <td align="left">Software Engineer</td>
                            <td align="center">2</td>
                            <td align="left">Brand 4</td>
                            <td align="left">Product Development</td>
                            <td align="left">Pradp Singh</td>
                            <td align="center">8-Nov-20</td>
                            <td align="right">600.000</td>
                            <td align="center">Active</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-9">
                    <div class="modal-inrheading">Vendor List (2/31)</div>
                </div>
                <div class="col-md-3" align="right">
                    <a class="btn3">Remove</a>
                    <a class="btn1">Allocate</a>
                </div>
                <div class="col-md-12">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td align="center">
                              <input type="checkbox" value="">
                            </td>
                            <td width="100" align="center">ID</td>
                            <td width="300" align="center">Name</td>
                            <td align="center">Location</td>
                            <td align="center">Expertize</td>
                            <td align="center">Reqs Sent<br>(Last 12 Months)</td>
                            <td align="center">Candidates<br>(Last 12 Months)</td>
                            <td align="center">Closed<br>(Last 12 Months)</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><input type="checkbox" value=""></td>
                            <td align="center" class="activetd">102</td>
                            <td align="left" class="activetd">Advanced Tech</td>
                            <td align="left">Chennai.India</td>
                            <td align="left">IT</td>
                            <td align="center">12</td>
                            <td align="center">29</td>
                            <td align="center">3</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" value=""></td>
                            <td align="center" class="activetd">329</td>
                            <td align="left" class="activetd">Global Tech</td>
                            <td align="left">Mumbai.India</td>
                            <td align="left">Software Developer</td>
                            <td align="center">23</td>
                            <td align="center">47</td>
                            <td align="center">12</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" value=""></td>
                            <td align="center">102</td>
                            <td align="left">Advanced Tech</td>
                            <td align="left">Chennai.India</td>
                            <td align="left">IT</td>
                            <td align="center">12</td>
                            <td align="center">29</td>
                            <td align="center">3</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" value=""></td>
                            <td align="center">329</td>
                            <td align="left">Global Tech</td>
                            <td align="left">Mumbai.India</td>
                            <td align="left">Software Developer</td>
                            <td align="center">23</td>
                            <td align="center">47</td>
                            <td align="center">12</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" value=""></td>
                            <td align="center">102</td>
                            <td align="left">Advanced Tech</td>
                            <td align="left">Chennai.India</td>
                            <td align="left">IT</td>
                            <td align="center">12</td>
                            <td align="center">29</td>
                            <td align="center">3</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>         
             <div class="row mt-20">
                <div class="col-md-12">
                    <div class="modal-inrheading">Activity History</div>
                </div>
                <div class="col-md-12">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td align="center">Date</td>
                            <td align="center">Activity</td>
                            <td align="center">By</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td align="center">10-Oct-20 <span>04:48PM</span></td>
                            <td align="left">Alocated: Advanced Tech</td>
                            <td align="center">Pinaki Datta</td>
                          </tr>
                          <tr>
                            <td align="center">08-Nov-20 <span>10:29PM</span></td>
                            <td align="left">Alocated: Global Tech</td>
                            <td align="center">Manoj Sen</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div> -->
						<!-- Modal footer -->


					</div>
				</div>
			</div>
		</div>
	</div>



</body>


</html>