<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<script>
	$(function() {
		$(".box,.number,.text").click(function() {
			$(this).css('background-color', '#0076BA');
			$(this).css('color', '#FFFFFF');
			$(this).css('color', '#FFFFFF');
		});   
	});
	  
	  function cancelBar(){
		  var id = document.getElementById("closeKey");
		  id.style.display = "block";
		  if($('#quickFilter').val() == null || $('#quickFilter').val() == ""){
			  id.style.display = "none";
		  }
	  }
	  
	  
	  var columnDefs = [
			{ headerCheckboxSelection: true,
		        headerCheckboxSelectionFilteredOnly: true, checkboxSelection: true,width: 10, sortable: false,filter: false,resizable: true},
			    {headerName: "Candidate ID", field: "candidateId"},
			    {headerName: "Name", field: "candidateName"},
			    {headerName: "Location", field: "location"},
			    {headerName: "BOD", field: "dob"},
			    {headerName: "Experience", field: "experience"},
			    {headerName: "Source", field: "source"},
			    {headerName: "# of Applications", field: "application"},
			    {headerName: "Candidacy Status", field: "status"},
			    {headerName: "Resume", field: "resume"},
			    {headerName: "Last Updated", field: "lastUpdate"},
			    {headerName: "Create Date", field: "createdOn"}
			]; 
	  
	var rowData = [
			{candidateId: "8", candidateName: 'Rajesh Kanhar', location: "Odisha", dob: "13-01-1997", experience: "1", source: "Interna", application: "2",
				status: "Active", resume: "VIEW", lastUpdate: "", createdOn: "9-Oct-20"}
			];
	  
	  var gridOptions = {
			   columnDefs: columnDefs,
			   rowData: rowData,
			  defaultColDef: {
				  sortable: true, 
				  filter: true, 
				  resizable: true, 
				  width: 149,
				  height: 10
			   }
			   
			 };
			 

			 // setup the grid after the page has finished loading
			 document.addEventListener('DOMContentLoaded', function() {
			     var gridDiv = document.querySelector('#myGrid');
			     new agGrid.Grid(gridDiv, gridOptions);
			     
			 });
			  
			  /* agGrid.simpleHttpRequest({url: 'view-new-requi-mstr-view-data'}).then(function(data) {
				var len = data.length;
				$('#totalCandidate').find('span').html(len);
			      gridOptions.api.setRowData(data);
			   }); */
			    
			    function onQuickFilterChanged() {
			    	  gridOptions.api.setQuickFilter(document.getElementById('quickFilter').value);
			    	}
	
	function addCandidate(){
		$('#hideTbl').hide();
		$('#buttonDetails').hide();
		$('#myGrid').hide();
		$('#demo').show();
	}
	
	function openNav() {
		document.getElementById("mySidenav").style.cssText = "width: 250px; position: absolute; right:-30px; overflow: hidden; height:auto;";

		document.getElementById("main").style.width = "82%";
	}

	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("main").style.width = "100%";
	}
</script>
<body>
	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						<div class="row margin_topbot" id="hideTbl">
							<div class="col-md-8 padding-7">
								<div class="input-style row">
                                <input type="text"  placeholder="Search.." name="search" class="searchboxinput" onkeyup="cancelBar()" oninput="onQuickFilterChanged()" id="quickFilter" >
                                <div class="searchicon"><a href="javascript: void(0)"><span style="display:none;border-right:1px solid #ccc;padding-right:5px;" id="closeKey" onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';" class="close_i"><i class="ti-close srchicon"></i></span></a><a href="javascript: void(0)"><i class="ti-search srchicon"></i></a></div>
                            </div>
							</div>
						</div>
						<div class="col-md-12 padding-7" id="buttonDetails">
							<div class="row mt-20">

								<div class="section1_big">
									<div class="font-design" id="totalCandidate">CANDIDATE LIST (<span></span>)</div>
								</div>
								<div class="section2_new">
									<div class="row">
										<button class="btn1" onclick="addCandidate()">NEW</button>
										<button class="btn2">COPY</button>
										<button class="btn3">BLACKLIST</button>
									</div>
								</div>
								<div class="section3_new" align="right">
									<div class="row">
										<button class="btn2">APPLY</button>
									</div>
								</div>

							</div>
						</div>
						
						<div id="myGrid" style="width:100%; height:200px;" class="ag-theme-alpine"></div>
						
						
						
						<div class="collapse" id="demo">
						<div class="innerstickybg">
							
							<div class="row">
							
								<div class="col-md-4"> </div>
								<div class="col-md-4">
									
								</div>
								<div class="col-md-4" align="right">
									<button class="btn3" id="cancelBtn">Cancel</button>
									<button class="btn1" id="saveVendor">Save</button>
								</div>
								</div>
								
								</div>
								<div class="innercontent">
								<div class="row">
								<div class="col-md-3">
									<div class="hvrbox">
										<img src="../assets/images/noimage.jpg" id="imgLoc"
											alt="Location" class="hvrbox-layer_bottom img-fluid"
											style="height: 203px; width: 241px;">
										<div class="hvrbox-layer_top">
											<div class="hvrbox-text">
											<input type="file" id="fileUpload" hidden
													onchange="saveFile();" /> <span><label
													for="fileUpload"><i class="ti-files"
														style="cursor: pointer;"></i> <!-- <i class="fa fa-pencil-square-o"></i> --></label></span>
												<span><i class="fa fa-trash red"
													onclick="deleteFile();"></i></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-9">
									<div class="row">
										
									</div>
									<div class="row">
										

										

										
									</div>
								</div>
</div>
</div>
							<div id="main">
							
							<!-- SIDE BAR NAVIGATION STARTS -->
							<div id="mySidenav" class="sidenav">
											<div class="slidebox">
												<div class="row">
													<div class="col-md-10">
														<div class="edit" id="heading"></div>
													</div>
													<div class="col-md-2">
														<div class="arrow">
															<a href="javascript:void(0)" class="closebtn"
																onclick="closeNav()"><i class="ti-arrow-right"></i></a>
														</div>
													</div>
													</div>
													<div class="chartbtnsec">
														<div class="row">
															<button class="btn4">CANCEL</button>
															<button class="btn3">DELETE</button>
															<button class="btn1">SAVE</button>
														</div>
													</div>
													<div class="col-md-12 mt-15">
														<div class="form-group">
															
														</div>
													</div>
													<div class="col-md-12 mt-15">
														<div class="form-group">
															
														</div>
													</div>
													
											
												
												<!-- </div> -->
											</div>
										</div>
							<!-- SIDE BAR NAVIGATION ENDS -->
							
							<div class="wrapper center-block">
									<div class="panel-group" id="accordion" role="tablist"
										aria-multiselectable="true">
										
									<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingOne">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse"
															data-parent="#accordion" href="#collapseOne"
															aria-expanded="false" aria-controls="collapseOne">
															Personal Details</a>
													</h4>
												</div>
												<div id="collapseOne" class="panel-collapse collapse"
													role="tabpanel" aria-labelledby="headingThree">
								<div class="row">

									<div class="col-md-5 btn-hs1">
										<div class="font-design"></div>
									</div>
									
									<div class="col-md-12 btn-hs1" align="right">
										<button class="btn1" id="newLocation" onclick="openNav();" >NEW</button>
											<button class="btn3" data-toggle="modal"
												data-target="#delete">DELETE</button>
									</div>

								</div>

								

							</div>
							</div>
							

							
							<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingThree">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse"
															data-parent="#accordion" href="#collapseThree"
															aria-expanded="false" aria-controls="collapseTwo">
															Educational Details </a>
													</h4>
												</div>
												<div id="collapseThree" class="panel-collapse collapse"
													role="tabpanel" aria-labelledby="headingThree">
								<div class="row">

									<div class="col-md-5 btn-hs1">
										<div class="font-design">
											<!-- Vendor LIST <span>(10)</span> -->
										</div>
									</div>
									<div class="col-md-12 btn-hs1">
										
											<button class="btn1" id="newBtn1" onclick="openNav();">NEW</button>
											<!--  <button class="btn2" id="copyBtn">COPY</button> -->
											<button class="btn3" data-toggle="modal"
												data-target="#delete">DELETE</button>
											<!--  <a class="btn2 add-record copy" data-added="0">COPY</a>
                                 <a class="btn3 delete-record copy">DELETE</a> -->
									</div>
								</div>

								

							</div>
							</div>


						<!-- 	<div class="row">
								<div class="col-md-12">
									<div class="headingbar">
										<a href="#" data-toggle="collapse" data-target="#demo_13"
											style="color: #333; text-decoration: none;">Legal</a> <a
											href="#" data-toggle="collapse" data-target="#demo_13"
											style="float: right; color: #333; text-decoration: none;"><i
											class="ti-angle-down"></i></a>
									</div>
								</div>
							</div>

							<div id="demo_13" class="collapse show">
								<div class="row"> -->
								<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingFour">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse"
															data-parent="#accordion" href="#collapseFour"
															aria-expanded="false" aria-controls="collapseFour">
															IT Skills</a>
													</h4>
												</div>
												<div id="collapseFour" class="panel-collapse collapse"
													role="tabpanel" aria-labelledby="headingFour">
								<div class="row">
								

									<div class="col-md-5 padding-7 btn-hs1">
										<div class="font-design">
											<!-- Vendor LIST <span>(10)</span> -->
										</div>
									</div>
									<div class="col-md-12 btn-hs1">
										
											<button class="btn1" id="newBtn1" onclick="openNav();">NEW</button>
											<!--  <button class="btn2" id="copyBtn">COPY</button> -->
											<button class="btn3" data-toggle="modal"
												data-target="#delete">DELETE</button>
											<!--  <a class="btn2 add-record copy" data-added="0">COPY</a>
                                 <a class="btn3 delete-record copy">DELETE</a> -->
										
									</div>
									

								</div>
								
							</div>
							</div>


							<!-- <div class="row">
								<div class="col-md-12">
									<div class="headingbar">
										<a href="#" data-toggle="collapse" data-target="#demo_14"
											style="color: #333; text-decoration: none;">Bank Details</a>
										<a href="#" data-toggle="collapse" data-target="#demo_14"
											style="float: right; color: #333; text-decoration: none;"><i
											class="ti-angle-down"></i></a>
									</div>
								</div>
							</div>

							<div id="demo_14" class="collapse show">
								<div class="row"> -->
								<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingFive">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse"
															data-parent="#accordion" href="#collapseFive"
															aria-expanded="false" aria-controls="collapseFive">
															Work Experience </a>
													</h4>
												</div>
												<div id="collapseFive" class="panel-collapse collapse"
													role="tabpanel" aria-labelledby="headingFive">
								<div class="row">
								

									<div class="col-md-5  btn-hs1">
										<div class="font-design">
											<!-- Vendor LIST <span>(10)</span> -->
										</div>
									</div>
									<div class="col-md-12 btn-hs1">
										
											<button class="btn1" id="newBtn1">NEW</button>
											<!--  <button class="btn2" id="copyBtn">COPY</button> -->
											<button class="btn3" data-toggle="modal"
												data-target="#delete">DELETE</button>
											<!--  <a class="btn2 add-record copy" data-added="0">COPY</a>
                                 <a class="btn3 delete-record copy">DELETE</a> -->
										
									</div>
								
								</div>

							</div>
							</div>



							<!-- <div class="row">
								<div class="col-md-12">
									<div class="headingbar">
										<a href="#" data-toggle="collapse" data-target="#demo_16"
											style="color: #333; text-decoration: none;">Company
											Information</a> <a href="#" data-toggle="collapse"
											data-target="#demo_16"
											style="float: right; color: #333; text-decoration: none;"><i
											class="ti-angle-down"></i></a>
									</div>
								</div>
							</div>

							<div id="demo_16" class="collapse show">
								<div class="row"> -->
								<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingSix">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse"
															data-parent="#accordion" href="#collapseSix"
															aria-expanded="false" aria-controls="collapseSix">
															Projects </a>
													</h4>
												</div>
												<div id="collapseSix" class="panel-collapse collapse"
													role="tabpanel" aria-labelledby="headingSix">
								<div class="row">
								

									<div class="col-md-5  btn-hs1">
										<div class="font-design">
											<!-- Vendor LIST <span>(10)</span> -->
										</div>
									</div>
									<div class="col-md-12 btn-hs1">
										
											<button class="btn1" id="newBtn1">NEW</button>
											<!--  <button class="btn2" id="copyBtn">COPY</button> -->
											<button class="btn3" data-toggle="modal"
												data-target="#delete">DELETE</button>
											<!--  <a class="btn2 add-record copy" data-added="0">COPY</a>
                                 <a class="btn3 delete-record copy">DELETE</a> -->
									
									</div>

								</div>

							</div>
							</div>



							<!-- <div class="row">
								<div class="col-md-12">
									<div class="headingbar">
										<a href="#" data-toggle="collapse" data-target="#demo_15"
											style="color: #333; text-decoration: none;">Activities</a> <a
											href="#" data-toggle="collapse" data-target="#demo_15"
											style="float: right; color: #333; text-decoration: none;"><i
											class="ti-angle-down"></i></a>
									</div>
								</div>
							</div>
							<div id="demo_15" class="collapse show">
								<div class="row"> -->
								<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingSeven">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse"
															data-parent="#accordion" href="#collapseSeven"
															aria-expanded="false" aria-controls="collapseSeven">
															Resume</a>
													</h4>
												</div>
												<div id="collapseSeven" class="panel-collapse collapse"
													role="tabpanel" aria-labelledby="headingFour">
								<div class="row">
								
									<div class="col-md-5  btn-hs1">
										<div class="font-design">
											<!-- Vendor LIST <span>(10)</span> -->
										</div>
									</div>
								
									<div class="col-md-12 btn-hs1 padding-7" align="right">
										<button class="btn4">Upload</button>
										<button class="btn4">Download</button>
									</div>

								</div>

							</div>
						</div>
					
					</div>
				</div>
				
			</div>
			
			
		</div>
						
						
						
						
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>