<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<script>
	$(function() {
		$(".box,.number,.text").click(function() {
			$(this).css('background-color', '#0076BA');
			$(this).css('color', '#FFFFFF');
			$(this).css('color', '#FFFFFF');
		});
		
	});
	  
	  function cancelBar(){
		  var id = document.getElementById("closeKey");
		  id.style.display = "block";
		  if($('#quickFilter').val() == null || $('#quickFilter').val() == ""){
			  id.style.display = "none";
		  }
	  }
	  
	  
	  var columnDefs = [
			{ headerCheckboxSelection: true,
		        headerCheckboxSelectionFilteredOnly: true, checkboxSelection: true,width: 10, sortable: false,filter: false,resizable: true},
			    {headerName: "Req ID", field: "requisitionId" },
			    {headerName: "Title", field: "jobTitle",
			     cellRenderer: function(params){
			        return '<a onclick=titlePage("' +  params.data.requisitionId + '") href="javascript:void(0)">' + params.data.jobTitle + '</a>';} },
			    {headerName: "# of positions", field: "noPosition",type:"rightAligned"},
			    {headerName: "Band", field: "band"},
			    {headerName: "Department", field: "department"},
			    {headerName: "Hiring Manager", field: "hiringManager"},
			    {headerName: "Join Date", field: "joinDate",cellStyle: {textAlign: 'center'}},
			    {headerName: "CTC Cap", field: "minSalary",type:"rightAligned"},
			    {headerName: "Status", field: "activityStatus"},
			    {headerName: "Applicants", field: "applicant"},
			    {headerName: "Shortlisted", field: "shortList"},
			    {headerName: "Interviewed", field: "interviewed"},
			    {headerName: "Offered", field: "offered"},
			    {headerName: "Create Date", field: "createdOn",cellStyle: {textAlign: 'center'}}
			]; 
	  
	 /*  var rowData = [
			{requisitionId: "8", jobTitle: 'Software Engineer', noPosition: "2", band: "Band 4", department: "Product development", hiringManager: "Pradip Singh", joinDate: "8-Nov-2020",
				minSalary: "400000", activityStatus: "Active"}
			]; */
	  
	  var gridOptions = {
			   columnDefs: columnDefs,
			  defaultColDef: {
				  sortable: true, 
				  filter: true, 
				  resizable: true, 
				  width: 149,
				  height: 10
			   }
			   
			 };
			 

			 // setup the grid after the page has finished loading
			 document.addEventListener('DOMContentLoaded', function() {
			     var gridDiv = document.querySelector('#myGrid');
			     new agGrid.Grid(gridDiv, gridOptions);
			     
			     
			     var myVendor = document.querySelector('#myVendor');
			     new agGrid.Grid(myVendor, gridOptionsChild);
			     
			 });
			  
			  agGrid.simpleHttpRequest({url: 'view-new-requi-mstr-view-data'}).then(function(data) {
				var len = data.length;
				$('#totalReq').find('span').html(len);
			      gridOptions.api.setRowData(data);
			   });
			    
			  /* function resetState() {
				   gridOptions.columnApi.resetColumnState();
				   console.log('column state reset');
				 } */
			    
			    function onQuickFilterChanged() {
			    	  gridOptions.api.setQuickFilter(document.getElementById('quickFilter').value);
			    	}
</script>
<body>
	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						<div class="row margin_topbot">
							<div class="col-md-8 padding-7">
								<div class="input-style row">
                                <input type="text"  placeholder="Search.." name="search" class="searchboxinput" onkeyup="cancelBar()" oninput="onQuickFilterChanged()" id="quickFilter" >
                                <div class="searchicon"><a href="javascript: void(0)"><span style="display:none;border-right:1px solid #ccc;padding-right:5px;" id="closeKey" onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';" class="close_i"><i class="ti-close srchicon"></i></span></a><a href="javascript: void(0)"><i class="ti-search srchicon"></i></a></div>
                            </div>
							</div>
						</div>
						<div class="col-md-12 padding-7">
							<div class="row mt-20">

								<div class="section1_big">
									<div class="font-design" id="totalReq">CANDIDATE LIST (<span></span>)</div>
								</div>
								<div class="section2_new">
									<div class="row">
										<button class="btn1">NEW</button>
										<button class="btn2">COPY</button>
										<button class="btn3">BLACKLIST</button>
									</div>
								</div>
								<div class="section3_new" align="right">
									<div class="row">
										<button class="btn2">APPLY</button>
									</div>
								</div>

							</div>
						</div>
						
						<div id="myGrid" style="width:100%; height:200px;" class="ag-theme-alpine"></div>
						
						<!-- <table class="newtbl" id="example">
							<thead>
								<tr>
									<th align="center" width="20"><input type="checkbox"
										onclick="allCheck()" id="check1"><label for="check1"></label></th>
									<th align="center">Candidate ID</th>
									<th align="center">Name</th>
									<th align="center">Location</th>
									<th align="center">BOD</th>
									<th align="center">Experience</th>
									<th align="center">Source</th>
									<th align="center">No of Applications</th>
									<th align="center">Candidacy Status</th>
									<th align="center">Resume</th>
									<th align="center">Last Updated</th>
									<th align="center">Create Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"><input class="checkCls" type="checkbox"
										id="check2"><label for="check2"></label></td>
									<td align="center"><div class="txt-blue">1023</div></td>
									<td align="Left">
										<div data-toggle="modal" data-target="#myModal"
											class="txt-blue">Kamala Suresh</div>
									</td>
									<td align="Left">Cochin, India</td>
									<td align="center">14-Jan-99</td>
									<td align="center">5</td>
									<td align="Left">Interna</td>
									<td align="center">2</td>
									<td align="center">Active</td>
									<td align="center">VIEW</td>
									<td align="center">9-Oct-20</td>
									<td align="center">9-Oct-20</td>
								</tr>
								<tr>
									<td align="center"><input class="checkCls" type="checkbox"
										id="check3"><label for="check3"></label></td>
									<td align="center"><div class="txt-blue">1004</div></td>
									<td align="Left">
										<div data-toggle="modal" data-target="#myModal" class="txt-blue">Amal Bhat</div>
									</td>
									<td align="Left">Delhi, India</td>
									<td align="center">27-Aug-98</td>
									<td align="center">6</td>
									<td align="Left">Global Tech</td>
									<td align="center">0</td>
									<td align="center">No Activity</td>
									<td align="center">VIEW</td>
									<td align="center">9-Oct-20</td>
									<td align="center">9-Oct-20</td>
								</tr>
							</tbody>
						</table> -->

					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>