<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
   <head>
   <!-- <link rel="stylesheet" href="../assets/css/extend/style-extend.css"> -->
    <title>Extend</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
   
   <!-- <script src="../assets/css/extend/ag-grid-community.min.js"></script> -->
   <!-- <script src="../assets/js/extend/grid.js"></script> -->
  <!-- 	<script src="https://unpkg.com/@ag-grid-community/all-modules@24.1.0/dist/ag-grid-community.min.js"></script>
   <link rel="stylesheet" href="../assets/css/extend/ag-theme-material.css"> -->



 <script type="text/javascript">
    $(document).ready(function(){
  for(var n = 1; n <=25; n++){    
    $('#box ul').append('<li><span>image '+n+' </span><img src="http://unsplash.it/280/180?image='+n+'"></li>');
  }
  $('#box').mCustomScrollbar({
    theme: "inset",    
    scrollButtons:{ enable: true }   
  });

});

</script>
<script type="text/javascript">
function newBtn(){
	 $("#myGrid").hide();
    $(".btn-hs").hide();
    $("#hideTbl").hide();
    $("#btnReset").hide();
     $("#demo").show();
}


    $(document).ready(function(){
       /*  $("#newBtn").click(function(){
            $("#myGrid").hide();
            $(".btn-hs").hide();
            $("#hideTbl").hide();
            $("#btnReset").hide();
            $("#demo").show();
        }) */
        
        $("#cancelBtn").click(function(){
            $("#myGrid").show();
            $(".btn-hs").show();
            $("#hideTbl").show();
            $("#btnReset").show();
            $("#demo").hide();
        });

         $("#copycancelBtn").click(function(){
        	 $("#myGrid").show();
             $(".btn-hs").show();
             $("#hideTbl").show();
             $("#btnReset").show();
            $("#demo").hide();
        });

         $("#profilebtn").click(function(){
            $("#myTbl").hide();
            $(".btn-hs").hide();
            $("#profile").show();
        })
        $("#profilecancelbtn").click(function(){
            $("#myTbl").show();
            $(".btn-hs").show();
            $("#profile").hide();
        });
    });
</script>


<script type="text/javascript">
  $(document).ready(function(){
	  
	  $('#approvalName').hide();
	  
   /* $('#header').load('../header-ads.html');
    $('#footer').load('../footer-ads.html');*/
     jQuery(document).delegate('a.add-record', 'click', function(e) {
     e.preventDefault();    
     var content = jQuery('#append_table tr'),
     size = jQuery('#myTbl >tbody >tr').length + 1,
     element = null,    
     element = content.clone();
     element.attr('id', 'rec-'+size);
     element.find('.delete-record').attr('data-id', size);
     element.appendTo('#myTbl_body');
     element.find('.sn').html(size);
   });
    jQuery(document).delegate('a.delete-record', 'click', function(e) {
     e.preventDefault();    
     var didConfirm = confirm("Are you sure You want to delete");
     if (didConfirm == true) {
      var id = jQuery(this).attr('data-id');
      var targetDiv = jQuery(this).attr('targetDiv');
      jQuery('#rec-' + id).remove();
      
    //regnerate index number on table
    $('#myTbl_body tr').each(function(index){
        $(this).find('span.sn').html(index+1);
    });
    return true;
  } else {
    return false;
  }
     
  $('#closeKey').on('click',function(){
	 alert() 
  });
});
    
    
    $('input,textarea').focus(function(){
    	   $(this).data('placeholder',$(this).attr('placeholder'))
    	          .attr('placeholder','');
    	}).blur(function(){
    	   $(this).attr('placeholder',$(this).data('placeholder'));
    	});
    
  //New Friday
    
    var x, i, j, l, ll, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("selectbox");
    l = x.length;
    for (i = 0; i < l; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    ll = selElmnt.length;
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 1; j < ll; j++) {
    /*for each option in the original select element,
    create a new DIV that will act as an option item:*/
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
    /*when an item is clicked, update the original select box,
    and the selected item:*/
    var y, i, k, s, h, sl, yl;
    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
    sl = s.length;
    h = this.parentNode.previousSibling;
    for (i = 0; i < sl; i++) {
    if (s.options[i].innerHTML == this.innerHTML) {
    s.selectedIndex = i;
    h.innerHTML = this.innerHTML;
    y = this.parentNode.getElementsByClassName("same-as-selected");
    yl = y.length;
    for (k = 0; k < yl; k++) {
    y[k].removeAttribute("class");
    }
    this.setAttribute("class", "same-as-selected");
    break;
    }
    }
    h.click();
    });
    b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
    /*when the select box is clicked, close any other select boxes,
    and open/close the current select box:*/
    e.stopPropagation();
    closeAllSelect(this);
    this.nextSibling.classList.toggle("select-hide");
    this.classList.toggle("select-arrow-active");
    });
    }
    function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, xl, yl, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    xl = x.length;
    yl = y.length;
    for (i = 0; i < yl; i++) {
    if (elmnt == y[i]) {
    arrNo.push(i)
    } else {
    y[i].classList.remove("select-arrow-active");
    }
    }
    for (i = 0; i < xl; i++) {
    if (arrNo.indexOf(i)) {
    x[i].classList.add("select-hide");
    }
    }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);
    
    //CUSTOM DATATABLE
   /*  $('#example thead tr:eq(0) th').each( function (i) {
    	$('#example thead tr:eq(0) th:first').html("");
   
    	$('#example thead tr:eq(0) th:first').html('<input type="checkbox" onclick="allCheck()" id="check1"><label for="check1"></label>');
         var title1 = $(this).text();
         var title = (title1.split(" "))[0];
        
         var funval = "click212('"+title+"')";
        $(this).html('<div>'+ title1 +'<a type="button" value="" onclick="'+funval+'" class="filtericon" data-toggle="dropdown"><i class="ti-filter filter" ></i></a>'+
        		'<div class="dropdown-menu"><input type="text" id="'+title+'" class="hideShow" placeholder="Search" /></div></div>' ); 
 
        
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search(this.value)
                    .draw();
            }
        } );
    } );
   
   
    $('th').on("click", function (event) {
        if($(event.target).is("div"))
            event.stopImmediatePropagation();
    });
    $('th').on("click", function (event) {
        if($(event.target).is("input"))
            event.stopImmediatePropagation();
    });
    $('th').on("click", function (event) {
        if($(event.target).is("a"))
            event.stopImmediatePropagation();
    });
  
    /*var table =  $('#example').DataTable( {
      
    	'ordering': false,
		orderCellsTop: true,
		fixedHeader: true,
		paging: false,
		info: false, 
		
		
		
    } ); */
    /*var table =$('#example').DataTable({
    	paging: false,
		info: false, 
        columnDefs : [
            { targets: 0, sortable: false},
        ],
        order: [ 1, "des" ]
    })  
    $(".hideShow").hide();
    
    oTable = $('#example').DataTable();  
    $('#quickFilter').keyup(function(){
        oTable.search($(this).val()).draw() ;
    });
    $('#example_filter').hide();
  
    $('#closeKey').click(function(){
    	 oTable.search("").draw() ;
    }); */
    
  });
  
  var count = 0;
  function allCheck(){
	  count++;
	  
	  if(count == 1){
		  $('.checkCls').prop("checked",true);
	  } else{
		  count = 0;
		  $('.checkCls').prop("checked",false);
	  }
  }
  
  function cancelBar(){
	  var id = document.getElementById("closeKey");
	  id.style.display = "block";
	  if($('#quickFilter').val() == null || $('#quickFilter').val() == ""){
		  id.style.display = "none";
	  }
  }
  
  var txtLen = 0;
  function textCount(event){
	  
	  var id = event.target.id;
	  var pId = $('#'+id).next().attr("id");
	  $('#'+pId+' span').empty();
	  txtLen = $('#'+id).val().length;
	
	  $('#'+pId+' span').append(txtLen);
  }
  
  
//AG GRID 
var columnDefs = [
	{ headerCheckboxSelection: true,
        headerCheckboxSelectionFilteredOnly: true, checkboxSelection: true,width: 10, sortable: false,filter: false,resizable: true},
	    {headerName: "Req ID", field: "requisitionId" },
	    {headerName: "Title", field: "jobTitle",
	     cellRenderer: function(params){
	        return '<a onclick=titlePage("' +  params.data.requisitionId + '") href="#">' + params.data.jobTitle + '</a>';} },
	    {headerName: "# of positions", field: "noPosition"},
	    {headerName: "Band", field: "band"},
	    {headerName: "Department", field: "department"},
	    {headerName: "Hiring Manager", field: "hiringManager"},
	    {headerName: "Join Date", field: "joinDate"},
	    {headerName: "CTC Cap", field: "minSalary"},
	    {headerName: "Status", field: "status"},
	    {headerName: "Applicants", field: "applicant"},
	    {headerName: "Shortlisted", field: "shortList"},
	    {headerName: "Interviewed", field: "interviewed"},
	    {headerName: "Offered", field: "offered"},
	    {headerName: "Create Date", field: "createdOn"}
	]; 
	
     
 function titlePage(id){
			  $("#myGrid").hide();
			     $(".btn-hs").hide();
			     $("#hideTbl").hide();
			     $("#btnReset").hide();
			
			 $.ajax({
				type : "GET",
				url : "view-new-requi-mstr-edit?id=" + id,
				success : function(response) {
				if (response.message == "Success") {
					
					for(i = 0; i< response.body.length; i++){
					
						$('#reqId').val(response.body[i].requisitionId);
						$('#jobTitle').val(response.body[i].jobTitle);
						$('#jobType').val(response.body[i].jobType);
						$('#minSalary').val(response.body[i].minSalary);
						$('#maxSalary').val(response.body[i].maxSalary);
						$('#noPos').val(response.body[i].noPosition);
						$('#dateReq').val(response.body[i].joinDate);
						$('#txtAreaSumN').val(response.body[i].positionSummary);
						txtLen = $('#txtAreaSumN').val().length;
					}
					$("#demo").show();
				}
				},
				error : function(data) {
				console.log(data);
				}
			})
 }
 
/* function cellAsLink(){
	 link = "<a href='#'onclick='titlePage()'>" + rowData[i++].title + "</a>";
	 i++;
	 return link;
 }  */

     
 // let the grid know which columns and what data to use
 var gridOptions = {
   columnDefs: columnDefs,
  defaultColDef: {
	  sortable: true, 
	  filter: true, 
	  resizable: true, 
	  width: 149,
	  height: 10
   }
   
 };

 // setup the grid after the page has finished loading
 document.addEventListener('DOMContentLoaded', function() {
     var gridDiv = document.querySelector('#myGrid');
     new agGrid.Grid(gridDiv, gridOptions);
 });
  
  agGrid.simpleHttpRequest({url: 'view-new-requi-mstr-view-data'}).then(function(data) {
	var len = data.length;
	$('#totalReq').find('span').html(len);
      gridOptions.api.setRowData(data);
   });
    
  /* function resetState() {
	   gridOptions.columnApi.resetColumnState();
	   console.log('column state reset');
	 } */
    
    function onQuickFilterChanged() {
    	  gridOptions.api.setQuickFilter(document.getElementById('quickFilter').value);
    	}
    
    //OTHER THAN AG-GRID
    var len = 0;
    var approverName = '';
    function approval(){
    	len ++;
    	if(len == 1){
    		$('#approvalName').show();
    	}else{
    		$('#approvalName').hide();
    		len=0;
    	}
    	approverName = $('#approver').val();
    }
    var len1 = 0;
    var aboutComp = '';
    function about(){
    	len1 ++;
    	var id =  document.getElementById("aboutCompany");
    	if(len1 == 1){
    		id.style.display="block";
    	}else{
    		id.style.display="none";
    		len1=0;
    	}
    	aboutComp = $('#aboutComp').attr('value');
    }

   
var userRole = [];
	function addNewReq(){
		$("input:checkbox[name=benefits]:checked").each(function() {
			userRole.push($(this).val());
		})
		
		var obj = {};
		obj.requisitionId = $('#reqId').val();
		obj.benefits = userRole;
		obj.jobTitle = $('#jobTitle').val();
		obj.jobType = $('#jobType').find(":selected").val();
		obj.jobLocation = $('#location').find(":selected").val();
		obj.minEducation = $('#educationReq').find(":selected").val();
		obj.minSalary = $('#minSalary').val();
		obj.maxSalary = $('#maxSalary').val();dept
		obj.department = $('#dept').find(":selected").val();
		obj.hiringManager = $('#hiringManager').find(":selected").val();
		obj.noPosition = $('#noPos').val();
		obj.workHour = $('#workHour').find(":selected").val();
		obj.band= $('#band').find(":selected").val();
		obj.joinDate = $('#dateReq').val();
		obj.positionSummary = $('#txtAreaSumN').val();
		obj.positionResponsibility = $('#txtAreaResN').val();
		obj.requiredSkillExperience = $('#txtAreaExpN').val();
		obj.approver = approverName;
		obj.about = aboutComp;
		
		$.ajax({
			type		: "POST",
			url 		: "view-new-requi-mstr-ajax",
			
			contentType	: "application/json",
			data		: JSON.stringify(obj),
			success		: function(response){
				console.log(response);
				if(response.message=="Success"){
					
							window.location.href = "/recruitment/view-new-requi-mstr";
				}/* else{
					swal({
						title:response.code,
						text: response.message,
						type:"warning"
					})
				} */
			},error		: function(data){
				
				console.log(data);
			}
		}) //ajax ends
	}
	
	
	function deleteReq() {

		var selectedRows = gridOptions.api.getSelectedRows();
		var selectedRowsString = '';
		selectedRows.forEach(function(selectedRow, index) {
		if (index > 0) {
		selectedRowsString += ',';
		}
		selectedRowsString += '"' + selectedRow.requisitionId + '"';
		});
		
		if (selectedRowsString) {
			
			$.ajax({
				type : "POST",
				url : "view-new-requi-mstr-delete?id="+ selectedRowsString,
				success : function(response) {
				if (response.message == "success") {
					window.location.href = "/recruitment/view-new-requi-mstr";
				}
				},
				error : function(data) {
				console.log(data);
				}
			})
		} else {
			swal("Please Select Requisition.");
		}

		}
	
	function copyBtn(){
   
     var selectedRows = gridOptions.api.getSelectedRows();
		var selectedRowsString = '';
		selectedRows.forEach(function(selectedRow, index) {
		if (index == 0) {
			selectedRowsString += '"' + selectedRow.requisitionId + '"';
		} else{
			swal("Please Select One Requisition at a Time.");
			selectedRowsString = "";
		}
		
		});
		
		if (selectedRowsString){
			$("#myGrid").hide();
		   	$(".btn-hs").hide();
		   	$("#hideTbl").hide();
			
			$.ajax({
				type : "GET",
				url : "view-new-requi-mstr-edit?id=" + selectedRowsString,
				success : function(response) {
				if (response.message == "success") {
					$("#demo").show();
				}
				},
				error : function(data) {
				console.log(data);
				}
			})
		} else {
			swal("Please Select Requisition.");
		}
     
   }
	
</script>
   </head>
   <body>
   <div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						
						<div class="row margin_topbot" id="hideTbl">
                       <div class="col-md-8">
                            <div class="input-style row">
                                <input type="text"  placeholder="Search.." name="search" class="searchboxinput" onkeyup="cancelBar()" oninput="onQuickFilterChanged()" id="quickFilter" >
                                <div class="searchicon"><a href="#"><span style="display:none;border-right:1px solid #ccc;padding-right:5px;" id="closeKey" onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';" class="close_i"><i class="ti-close srchicon"></i></span></a><a href="#"><i class="ti-search srchicon"></i></a></div>
                            </div>
                    </div>
                </div>
<!--  <form enctype="multipart/form-data"> -->
                <div class="row">
                   
                        <div class="col-md-6  btn-hs">
                            <div class="font-design" id="totalReq">REQUISITION LIST (<span></span>)  <!-- <i onclick="resetState()" class="ti-reload tblreset" id="btnReset"></i> --></div>
                        </div>
                        <div class="col-md-3 btn-hs">
                            <div class="row">
                                <input type="button" class="btn1" value="NEW" onclick="newBtn()" readonly>
                                <input type="button" class="btn2" value="COPY" onclick="copyBtn()" readonly>
                                <input type="button" class="btn3" value="DELETE" data-toggle="modal" data-target="#delete" readonly>
                                <!--  <a class="btn2 add-record copy" data-added="0">COPY</a>
                                 <a class="btn3 delete-record copy">DELETE</a> -->
                            </div>
                        </div>
                        <div class="col-md-2 btn-hs">
                            <div class="row">
                                <button class="btn2">APPROVE</button>
                                <button class="btn2">POST</button>
                            </div>
                        </div>
                        <div class="col-md-1 btn-hs">
                            <div class="row">
                                <input type="button" value="ALLOCATE VENDOR" class="btn2" data-toggle="modal" data-target="#myModal10">
                            </div>
                        </div>
                  </div>

				<!-- <input type="text" oninput="onQuickFilterChanged()" id="quickFilter" /> -->
					
            <div id="myGrid" style="width:100%; height:200px;" class="ag-theme-alpine"></div>
            
                    <!-- <table class="newtbl" id="example">
                        <thead>
                            <tr>
                                <th align="center" width="20"><input id="check1" onclick="allCheck()" type="checkbox"><label for="check1"></label></th>
                                <th>Req ID</th>
                                <th>Title</th>
                                <th># of positions </th>
                                <th>Band</th>
                                <th>Department</th>
                                <th>Hiring Manager </th>
                                <th>Join Date</th>
                                <th>CTC Cap </th>
                                <th>Status</th>
                                <th>Applicants</th>
                                <th>Shortlisted</th>
                                <th>Interviewed</th>
                                <th>Offered</th>
                                <th>Create Date</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                                <td align="center" ><input class="checkCls" type="checkbox" id="check2"><label for="check2"></label></td>
                                <td align="center" ><div class="txt-blue">8</div> </td>
                                <td > <div data-toggle="collapse" class="txt-blue" id="titlebtn" onclick="titlePage()"> Software Engineer</div></td>
                                <td align="center" >2</td>
                                <td >Band 4</td>
                                <td >Product development</td>
                                <td >Pradip Singh</td>
                                <td  align="center">8-Nov-2020</td>
                                <td  align="right">600.00</td>
                                <td  align="center">Active</td>
                                <td  align="right">8</td>
                                <td  align="right">5</td>
                                <td  align="right">3</td>
                                <td  align="right">0</td>
                                <td  align="center">9-Oct-2020</td>
                            </tr>
                            <tr>
                                <td align="center" ><input class="checkCls" type="checkbox" id="check3"><label for="check3"></label></td>
                                <td align="center" > <div class="txt-blue"> 7</div></td>
                                <td > <div class="txt-blue" data-toggle="collapse" id="titlebtn" onclick="titlePage()"> Software Engineer - II </div></td>
                                <td align="center" >1</td>
                                <td >Band 6</td>
                                <td >Product development</td>
                                <td >Pradip Singh</td>
                                <td  align="center">10-Oct-20</td>
                                <td  align="right">600.00</td>
                                <td  align="center">Active</td>
                                <td  align="right">20</td>
                                <td  align="right">9</td>
                                <td  align="right">8</td>
                                <td  align="right">1</td>
                                <td  align="center">9-Oct-2020</td>
                            </tr>
                        </tbody>
                    </table> -->
                     <!-- </form> -->
                 <!-- </div>  -->
  
  <!-- <div style="display:none;">
    <table id="append_table">
      <tbody><tr id="">
       <td align="center" ><input type="checkbox" name=""></td>
        <td align="center" > <div class="txt-blue"> 7</div></td>
        <td > <div class="txt-blue" data-toggle="collapse" data-target="#profile" class="txt-blue"> Software Engineer - II </div></td>
        <td align="center" >1</td>
        <td >Band 6</td>
        <td >Product development</td>
        <td >Pradip Singh</td>
        <td  align="center">10-Oct-20</td>
        <td  align="right">600.00</td>
        <td  align="center">Active</td>
        <td  align="right">20</td>
        <td  align="right">9</td>
        <td  align="right">8</td>
        <td  align="right">1</td>
        <td  align="center">9-Oct-2020</td>
     </tr>
   </tbody></table>
 </div> -->





<!-- <div  class="collapse" id="copy" >
      <div class="col-md-12">
      <div class="innerstickybg">              
<div class="row">
    <div class="col-md-6">
        <hr>
        <div class="main-div">
            <div class="section2">
                <div class="green-box">
                    <div class="green-box-heading">CREATED</div>
                    <div class="date">9-OCT-20</div>
                </div>
            </div>
            <div class="section3">
                <div class="green-box">
                    <div class="green-box-heading">ACTIVE</div>
                    <div class="date">11-OCT-20</div>
                </div>
            </div>
            <div class="section4">
                <div class="grey-box">
                <div>CLOSED</div>   
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
       <button class="btn2">Approve</button>
       <button class="btn2">Post</button>
    </div>
    <div class="col-md-3 padding-0" align="right">
        <button class="btn4" type="button" data-dismiss="modal" id="copycancelBtn">CANCEL</button>
        <button class="btn3">DELETE</button>
        <button class="btn1">SAVE</button>
    </div>
</div>
</div>
<div class="innercontent">
<div class="row">

<div class="col-md-12 padding-0">
    <div class="row">
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="#" data-toggle="collapse" data-target="#demo">
                    <div class="number1">8</div>
                    <div class="text1">APPLIED</div>
                </a>
            </div>
        </div>
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="hrms_hire.html">
                    <div class="number1">5</div>
                    <div class="text1">SHORTLISTED</div>
                </a>
            </div>
        </div>
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="hrms_hire.html">
                    <div class="number1">3</div>
                    <div class="text1">INTERVIEWED</div>
                </a>
            </div>
        </div>
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="hrms_hire.html">
                    <div class="number1">0</div>
                    <div class="text1">OFFERED</div>
                </a>
            </div>
        </div>
        
        
    </div>
</div>
</div>
<div class="row">
<div class="row">
<div class="col-md-4">
<div class="form-group">
    <label>Job Title</label>
    <input type="text" class="form-control" id="jobTitle" placeholder="Type Job Title">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Create Date</label>
    <input type="text" id="createDate" class="form-control no-border">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Created By</label>
    <input type="text" id="craetedBy" class="form-control no-border">
  </div>
</div>
<div class="col-md-4">
<div class="form-group">
    <label>Job Type</label>
     <div class="selectbox">
    <select id="jobType">
    <option>Select Job Type</option>
      <option th:each="c,iter:${jobTypeList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Job Location</label>
     <div class="selectbox">
    <select id="location">
      <option>Select Location</option>
      <option th:each="c,iter:${jobLocationList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Minimum Education Required</label>
     <div class="selectbox">
    <select id="educationReq">
      <option>Select  Education</option>
      <option th:each="c,iter:${educationList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Annual Salary Range (Minimum)</label>
      <input type="text" class="form-control" id="minSalary" placeholder="Annual Salary">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Annual Salary Range (Maximum)</label>
     <input type="text" class="form-control" id="maxSalary" placeholder="Annual Salary">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Department</label>
     <div class="selectbox">
  	 <select  id="dept">
  	 <option>Select Department</option>
      <option th:each="c,iter:${DepartmentList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
<div class="form-group">
    <label>Hiring Manager</label>
     <div class="selectbox">
   <select id="hiringManager">
      <option>Select Manager</option>
      <option th:each="c,iter:${managerList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>


<div class="col-md-4">
<div class="form-group">
    <label>Number of Position</label>
      <input type="text" class="form-control" id="noPos" placeholder="Number of Position">
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Excepted Work hours</label>
     <div class="selectbox">
    <select id="workHour">
      <option>Select Work Hour</option>
      <option th:each="c,iter:${workHourList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Band</label>
    <div class="selectbox">
    <select id="band">
    <option>Select Band</option>
      <option th:each="c,iter:${bandList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
	<div class="form-group">
    	<label>Joining Date</label>
      	<input type="date" id="dateReq" class="form-control" >
	</div>
</div>

</div>

<div class="row">
                <div class="col-md-12">
                    <div class="modal-inrheading">Position Summary</div>
                      <div class="position-text">
                            <textarea rows="4" cols="100" id="txtAreaSumN" onkeyup="textCount(event)"></textarea>
                            <div id="charNumSN" class="txtcounter" align="right"><span>0</span> characters</div>
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-inrheading">Position Responsibility</div>
                      <div class="position-text">
                            <textarea rows="4" cols="100" id="txtAreaResN" onkeyup="textCount(event)"></textarea>
                            <div id="charNumRN" class="txtcounter" align="right"><span>0</span> characters</div>
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-inrheading">Required Skills and Experience</div>
                     <div class="position-text">
                            <textarea rows="4" cols="100" id="txtAreaExpN" onkeyup="textCount(event)"></textarea>
                            <div id="charNumEN" class="txtcounter" align="right"><span>0</span> characters</div>
                        </div>
               </div>
               <div class="col-md-12">
               <div class="modal-inrheading">Benefits</div>
                <div class="row">
                <th:block th:each="c,iter:${benefitsList}">
	                <div class="col-md-3">
	                    <div class="checkbox">
	                      <input type="checkbox" value=""  th:id="'benefits_'+${iter.index}" th:value='${c.key}'
							name="benefits" ><span th:text="${c.name}"></span>
	                    </div>
	               </div>
              </th:block>
            </div>
        </div>
         <div class="col-md-12 mrt_25 gapping">
            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="checkbox">
                      <label><input type="checkbox" id="approvalCheck" onclick="approval()">Need Approval</label>
                    </div>
                </div>
                <div class="col-4 col-md-4" id="approvalName">
                      <div class="form-group">
                        <label for="approvalName">Approver</label>
                         <div class="selectbox">
                        <select id="approver">
                          <option>Pinaki Datta</option>
                        </select>
                        </div>
                      </div>
                </div>
            </div>
     </div>
     
	   <div class="col-md-12">
		   <div class="checkbox">
			   <label><input type="checkbox" onclick="about()">Include about company</label>
		</div>
		</div>
	<div class="col-md-12" id="aboutCompany" style="display: none;">
		<div class="position-text">
			   <textarea rows="4" cols="100" id="aboutComp" th:value="${aboutComapany[0].key}" th:text="${aboutComapany[0].name}"></textarea>
		  </div>
	</div>
	<div class="col-md-12">
                      <table class="newtbl">
                        <thead>
                          <tr>
                            <th align="center">Date</th>
                            <th align="center">Activity</th>
                            <th align="center">By</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td align="center">10-Oct-20 <span>04:48PM</span></td>
                            <td align="left">Alocated: Advanced Tech</td>
                            <td align="center">Pinaki Datta</td>
                          </tr>
                          <tr>
                            <td align="center">08-Nov-20 <span>10:29PM</span></td>
                            <td align="left">Alocated: Global Tech</td>
                            <td align="center">Manoj Sen</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
     
           </div>
        </div>
    </div>
    </div>
   </div> -->


<div  class="collapse" id="demo" >
<div class="col-md-12">
    <div class="innerstickybg">          
<div class="row">
    <div class="col-md-6">
        <hr>
        <div class="main-div">
            <div class="section2">
                <div class="grey-box">
                    <div class="">CREATED</div>
                    <div class="date"></div>
                </div>
            </div>
            <div class="section3">
                <div class="grey-box">
                    <div class="">ACTIVE</div>
                    <div class="date"></div>
                </div>
            </div>
            <div class="section4">
                <div class="grey-box">
                <div>CLOSED</div>   
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
       <button class="btn2">Approve</button>
       <button class="btn2">Post</button>
    </div>
    <div class="col-md-3 padding-0" align="right">
        <button class="btn4" type="button" data-dismiss="modal" id="cancelBtn">CANCEL</button>
        <button class="btn3">DELETE</button>
        <button class="btn1" onclick="addNewReq()">SAVE</button>
    </div>
</div>
</div>
<div class="innercontent">
<div class="row">
<div class="col-md-12 padding-0">
    <div class="row">
    <!-- REQUISITION ID -->
    <input type="hidden" id="reqId">
    
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="#" data-toggle="collapse" data-target="#demo">
                    <div class="number1">0</div>
                    <div class="text1">APPLIED</div>
                </a>
            </div>
        </div>
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="hrms_hire.html">
                    <div class="number1">0</div>
                    <div class="text1">SHORTLISTED</div>
                </a>
            </div>
        </div>
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="hrms_hire.html">
                    <div class="number1">0</div>
                    <div class="text1">INTERVIEWED</div>
                </a>
            </div>
        </div>
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="hrms_hire.html">
                    <div class="number1">0</div>
                    <div class="text1">OFFERED</div>
                </a>
            </div>
        </div>
        
        
    </div>
</div>
</div>
<div class="row">
<div class="row">
<div class="col-md-4">
<div class="form-group">
    <label>Job Title</label>
    <input type="text" class="form-control" id="jobTitle" placeholder="Type Job Title">
  </div>
</div>
<!-- <div class="col-md-4">
    <div class="form-group">
    <label>Create Date</label>
    <input type="text" id="createDate" class="form-control no-border">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Created By</label>
    <input type="text" id="craetedBy" class="form-control no-border">
  </div>
</div> -->
<div class="col-md-4">
<div class="form-group">
    <label>Job Type</label>
     <div class="selectbox">
    <select id="jobType">
    <option>Select Job Type</option>
      <option th:each="c,iter:${jobTypeList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Job Location</label>
     <div class="selectbox">
    <select id="location">
      <option>Select Location</option>
      <option th:each="c,iter:${jobLocationList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Minimum Education Required</label>
     <div class="selectbox">
    <select id="educationReq">
      <option>Select  Education</option>
      <option th:each="c,iter:${educationList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Annual Salary Range (Minimum)</label>
      <input type="text" class="form-control" id="minSalary" placeholder="Annual Salary">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Annual Salary Range (Maximum)</label>
     <input type="text" class="form-control" id="maxSalary" placeholder="Annual Salary">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Department</label>
     <div class="selectbox">
  	 <select  id="dept">
  	 <option>Select Department</option>
      <option th:each="c,iter:${DepartmentList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
<div class="form-group">
    <label>Hiring Manager</label>
     <div class="selectbox">
   <select id="hiringManager">
      <option>Select Manager</option>
      <option th:each="c,iter:${managerList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>


<div class="col-md-4">
<div class="form-group">
    <label>Number of Position</label>
      <input type="text" class="form-control" id="noPos" placeholder="Number of Position">
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Excepted Work hours</label>
     <div class="selectbox">
    <select id="workHour">
      <option>Select Work Hour</option>
      <option th:each="c,iter:${workHourList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Band</label>
    <div class="selectbox">
    <select id="band">
    <option>Select Band</option>
      <option th:each="c,iter:${bandList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
	<div class="form-group">
    	<label>Joining Date</label>
      	<input type="date" id="dateReq" class="form-control" >
	</div>
</div>

</div>

<div class="row">
                <div class="col-md-12">
                    <div class="modal-inrheading">Position Summary</div>
                      <div class="position-text">
                            <textarea rows="4" cols="100" id="txtAreaSumN" onkeyup="textCount(event)"></textarea>
                            <div id="charNumSN" class="txtcounter" align="right"><span>0</span> characters</div>
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-inrheading">Position Responsibility</div>
                      <div class="position-text">
                            <textarea rows="4" cols="100" id="txtAreaResN" onkeyup="textCount(event)"></textarea>
                            <div id="charNumRN" class="txtcounter" align="right"><span>0</span> characters</div>
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-inrheading">Required Skills and Experience</div>
                     <div class="position-text">
                            <textarea rows="4" cols="100" id="txtAreaExpN" onkeyup="textCount(event)"></textarea>
                            <div id="charNumEN" class="txtcounter" align="right"><span>0</span> characters</div>
                        </div>
               </div>
               <div class="col-md-12">
               <div class="modal-inrheading">Benefits</div>
                <div class="row">
                <th:block th:each="c,iter:${benefitsList}">
	                <div class="col-md-3">
	                    <div class="checkbox">
	                      <input type="checkbox" value=""  th:id="'benefits_'+${iter.index}" th:value='${c.key}'
							name="benefits" ><span th:text="${c.name}"></span>
	                    </div>
	               </div>
              </th:block>
            </div>
        </div>
         <div class="col-md-12 mrt_25 gapping">
            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="checkbox">
                      <label><input type="checkbox" id="approvalCheck" onclick="approval()">Need Approval</label>
                    </div>
                </div>
                <div class="col-4 col-md-4" id="approvalName">
                      <div class="form-group">
                        <label for="approvalName">Approver</label>
                         <div class="selectbox">
                        <select id="approver">
                          <option>Pinaki Datta</option>
                        </select>
                        </div>
                      </div>
                </div>
            </div>
     </div>
     
	   <div class="col-md-12">
		   <div class="checkbox">
			   <label><input type="checkbox" onclick="about()">Include about company</label>
		</div>
		</div>
	<div class="col-md-12" id="aboutCompany" style="display: none;">
		<div class="position-text">
			   <textarea rows="4" cols="100" id="aboutComp" th:value="${aboutComapany[0].key}" th:text="${aboutComapany[0].name}"></textarea>
		  </div>
	</div>
	
	<div class="col-md-12">
                      <table class="newtbl">
                        <thead>
                          <tr>
                            <th align="center">Date</th>
                            <th align="center">Activity</th>
                            <th align="center">By</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td align="center">10-Oct-20 <span>04:48PM</span></td>
                            <td align="left">Alocated: Advanced Tech</td>
                            <td align="center">Pinaki Datta</td>
                          </tr>
                          <tr>
                            <td align="center">08-Nov-20 <span>10:29PM</span></td>
                            <td align="left">Alocated: Global Tech</td>
                            <td align="center">Manoj Sen</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
     
           </div>
        </div>
    </div>
   </div>
</div>

<div class="modal fade" id="myModal10">
<div class="modal-dialog modal-lg" style="max-width:1100px">
<div class="modal-content" style="width:100%">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title" style="font-size:16px"><b>Allocate Vendor for Requisition: 8 - Software Engineer</b></h4>
<button type="button" class="close" data-dismiss="modal" style="font-size:25px">×</button>
</div>
    <!-- Modal body -->
<div class="modal-body" style="height: 600px; overflow-y:scroll; ">
<div class="vertical-line">


 <div class="row">
                <div class="col-md-12">
                      <table class="newtbl">
                        <thead>
                          <tr>
                            <th align="center">Req ID</th>
                            <th align="center">Title</th>
                            <th align="center"># Ofposition</th>
                            <th align="center">Band</th>
                            <th align="center">Department</th>
                            <th align="center">Hiring Manger</th>
                            <th align="center">Join Date</th>
                            <th align="center">CTC CAp</th>
                            <th align="center">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td align="center">8</td>
                            <td align="left">Software Engineer</td>
                            <td align="center">2</td>
                            <td align="left">Brand 4</td>
                            <td align="left">Product Development</td>
                            <td align="left">Pradp Singh</td>
                            <td align="center">8-Nov-20</td>
                            <td align="right">600.000</td>
                            <td align="center">Active</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-9">
                    <div class="modal-inrheading">Vendor List (2/31)</div>
                </div>
                <div class="col-md-3 mrt_btm" align="right">
                    <button class="btn3">Remove</button>
                    <button class="btn1" onclick="allocateVendor()">Allocate</button>
                </div>
                <div class="col-md-12">
                      <table class="newtbl" id="example">
                        <thead>
                          <tr>
                            <th align="center" width=20>
                              <input type="checkbox" id="checkM1" onclick="allCheck()"><label for="checkM1"></label>
                            </th>
                            <th width="100" align="center">ID</th>
                            <th width="300" align="center">Name</th>
                            <th align="center">Location</th>
                            <th align="center">Expertize</th>
                            <th align="center">Reqs Sent<br>(Last 12 Months)</th>
                            <th align="center">Candidates<br>(Last 12 Months)</th>
                            <th align="center">Closed<br>(Last 12 Months)</th>
                          </tr>
                        </thead>
                        <tbody id=vendorTable>
                          <tr>
                            <td><input class="checkCls" type="checkbox" id="checkM2"><label for="checkM2"></label></td>
                            <td align="center">102</td>
                            <td align="left">Advanced Tech</td>
                            <td align="left">Chennai.India</td>
                            <td align="left">IT</td>
                            <td align="center">12</td>
                            <td align="center">29</td>
                            <td align="center">3</td>
                          </tr>
                          <tr>
                            <td><input class="checkCls" type="checkbox" id="checkM3"><label for="checkM3"></label></td>
                            <td align="center">329</td>
                            <td align="left">Global Tech</td>
                            <td align="left">Mumbai.India</td>
                            <td align="left">Software Developer</td>
                            <td align="center">23</td>
                            <td align="center">47</td>
                            <td align="center">12</td>
                          </tr>
                          <tr>
                            <td><input class="checkCls" type="checkbox" id="checkM4"><label for="checkM4"></label></td>
                            <td align="center">102</td>
                            <td align="left">Advanced Tech</td>
                            <td align="left">Chennai.India</td>
                            <td align="left">IT</td>
                            <td align="center">12</td>
                            <td align="center">29</td>
                            <td align="center">3</td>
                          </tr>
                          <tr>
                            <td><input class="checkCls" type="checkbox" id="checkM5"><label for="checkM5"></label></td>
                            <td align="center">329</td>
                            <td align="left">Global Tech</td>
                            <td align="left">Mumbai.India</td>
                            <td align="left">Software Developer</td>
                            <td align="center">23</td>
                            <td align="center">47</td>
                            <td align="center">12</td>
                          </tr>
                          <tr>
                            <td><input class="checkCls" type="checkbox"id="checkM6"><label for="checkM6"></label></td>
                            <td align="center">102</td>
                            <td align="left">Advanced Tech</td>
                            <td align="left">Chennai.India</td>
                            <td align="left">IT</td>
                            <td align="center">12</td>
                            <td align="center">29</td>
                            <td align="center">3</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>         
             <div class="row mt-20">
                <div class="col-md-12">
                    <div class="modal-inrheading">Activity History</div>
                </div>
                <div class="col-md-12">
                      <table class="newtbl">
                        <thead>
                          <tr>
                            <th align="center">Date</th>
                            <th align="center">Activity</th>
                            <th align="center">By</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td align="center">10-Oct-20 <span>04:48PM</span></td>
                            <td align="left">Alocated: Advanced Tech</td>
                            <td align="center">Pinaki Datta</td>
                          </tr>
                          <tr>
                            <td align="center">08-Nov-20 <span>10:29PM</span></td>
                            <td align="left">Alocated: Global Tech</td>
                            <td align="center">Manoj Sen</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
       </div>
  </div>
</div>
</div>
</div>

 <!-- The Modal -->
  <div class="modal fade" id="delete">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
       <!-- Modal body -->
        <div class="modal-body">
          <div align="center">
            <h6>Are you Sure You want to delete the user role !</h6>
          </div>
          <div class="deletepopupbtnsec">
             <button  class="btn3" data-dismiss="modal" onclick="deleteReq()" >Yes</button><!-- class="close" -->
             <button  class="btn1" data-dismiss="modal">No</button><!-- class="close" -->
          </div>
        </div>
       <!-- Modal footer -->
      </div>
    </div>
  </div>

</div>
</div>
</div>
</div>
</div>


</body>
</html>