<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
   <head>
   <!-- <link rel="stylesheet" href="../assets/css/extend/style-extend.css"> -->
    <title>Extend</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
   
   <!-- <script src="../assets/css/extend/ag-grid-community.min.js"></script> -->
   <!-- <script src="../assets/js/extend/grid.js"></script> -->
  <!-- <script src="https://unpkg.com/@ag-grid-community/all-modules@24.1.0/dist/ag-grid-community.min.js"></script>
   <link rel="stylesheet" href="../assets/css/extend/ag-theme-material.css">  -->



 <script type="text/javascript">
    $(document).ready(function(){
  for(var n = 1; n <=25; n++){    
    $('#box ul').append('<li><span>image '+n+' </span><img src="http://unsplash.it/280/180?image='+n+'"></li>');
  }
  $('#box').mCustomScrollbar({
    theme: "inset",    
    scrollButtons:{ enable: true }   
  });

});

</script>
<script type="text/javascript">
function newBtn(){
	$('#createDate').html('');
	$("#myGrid").hide();
    $(".btn-hs").hide();
    $("#hideTbl").hide();
    $("#btnReset").hide();
    $("#demo").show();
    
    $('#reqId').val("");
	$('#jobTitle').val("");
	$('#jobType').val("");
	$('#location').val("");
	$('#educationReq').val("");
	$('#dept').val("");
	$('#hiringManager').val("");
	$('#workHour').val("");
	$('#band').val("");
	$('#minSalary').val("");
	$('#maxSalary').val("");
	$('#noPos').val("");
	$('#dateReq').val("");
	$('#txtAreaSumN').val("");
		txtLen = $('#txtAreaSumN').val().length;
	 	var pId1 = $('#txtAreaSumN').next().attr("id");
	 	 $('#'+pId1+' span').empty();
	 	 $('#'+pId1+' span').append(txtLen);
	$('#txtAreaResN').val("");
		txtLen = $('#txtAreaResN').val().length;
	 	var pId2 = $('#txtAreaResN').next().attr("id");
	 	 $('#'+pId2+' span').empty();
	 	 $('#'+pId2+' span').append(txtLen);
	$('#txtAreaExpN').val("");
		txtLen = $('#txtAreaExpN').val().length;
	 	var pId3 = $('#txtAreaExpN').next().attr("id");
	 	 $('#'+pId3+' span').empty();
	 	 $('#'+pId3+' span').append(txtLen);
	
	if($('#approvalCheck').is("checked")){
		approval();
	}
	if($('.about').is("checked")){
		about();
	}
	document.getElementById("approvalCheck").checked = false;
	$(".about").attr("checked",false);
	$(".benefitChk").attr("checked",false);
	
	$('#createdDiv').attr("class","grey-box");
	$('#divCreate').attr("class","");
}


    $(document).ready(function(){
       /*  $("#newBtn").click(function(){
            $("#myGrid").hide();
            $(".btn-hs").hide();
            $("#hideTbl").hide();
            $("#btnReset").hide();
            $("#demo").show();
        }) */
        
        $("#cancelBtn").click(function(){
            $("#myGrid").show();
            $(".btn-hs").show();
            $("#hideTbl").show();
            $("#btnReset").show();
            $("#demo").hide();
        });

         $("#copycancelBtn").click(function(){
        	 $("#myGrid").show();
             $(".btn-hs").show();
             $("#hideTbl").show();
             $("#btnReset").show();
            $("#demo").hide();
        });

         $("#profilebtn").click(function(){
            $("#myTbl").hide();
            $(".btn-hs").hide();
            $("#profile").show();
        })
        $("#profilecancelbtn").click(function(){
            $("#myTbl").show();
            $(".btn-hs").show();
            $("#profile").hide();
        });
    });
</script>


<script type="text/javascript">
  $(document).ready(function(){
	  
	  $('#approvalName').hide();
	  
   /* $('#header').load('../header-ads.html');
    $('#footer').load('../footer-ads.html');*/
     jQuery(document).delegate('a.add-record', 'click', function(e) {
     e.preventDefault();    
     var content = jQuery('#append_table tr'),
     size = jQuery('#myTbl >tbody >tr').length + 1,
     element = null,    
     element = content.clone();
     element.attr('id', 'rec-'+size);
     element.find('.delete-record').attr('data-id', size);
     element.appendTo('#myTbl_body');
     element.find('.sn').html(size);
   });
    jQuery(document).delegate('a.delete-record', 'click', function(e) {
     e.preventDefault();    
     var didConfirm = confirm("Are you sure You want to delete");
     if (didConfirm == true) {
      var id = jQuery(this).attr('data-id');
      var targetDiv = jQuery(this).attr('targetDiv');
      jQuery('#rec-' + id).remove();
      
    //regnerate index number on table
    $('#myTbl_body tr').each(function(index){
        $(this).find('span.sn').html(index+1);
    });
    return true;
  } else {
    return false;
  }
     
});
    
    
    $('input,textarea').focus(function(){
    	   $(this).data('placeholder',$(this).attr('placeholder'))
    	          .attr('placeholder','');
    	}).blur(function(){
    	   $(this).attr('placeholder',$(this).data('placeholder'));
    	});
   
  
    
    
  });
  
  var count = 0;
  function allCheck(){
	  count++;
	  
	  if(count == 1){
		  $('.checkCls').prop("checked",true);
	  } else{
		  count = 0;
		  $('.checkCls').prop("checked",false);
	  }
  }
  
  function cancelBar(){
	  var id = document.getElementById("closeKey");
	  id.style.display = "block";
	  if($('#quickFilter').val() == null || $('#quickFilter').val() == ""){
		  id.style.display = "none";
	  }
  }
  
  var txtLen = 0;
  function textCount(event){
	  
	  var id = event.target.id;
	  var pId = $('#'+id).next().attr("id");
	  $('#'+pId+' span').empty();
	  txtLen = $('#'+id).val().length;
	  $('#'+pId+' span').append(txtLen);
  }
  
  
//AG GRID 
var columnDefs = [
	{ headerCheckboxSelection: true,
        headerCheckboxSelectionFilteredOnly: true, checkboxSelection: true,width: 10, sortable: false,filter: false,resizable: true},
	    {headerName: "Req ID", field: "requisitionId" },
	    {headerName: "Title", field: "jobTitle",
	     cellRenderer: function(params){
	        return '<a onclick=titlePage("' +  params.data.requisitionId + '") href="javascript:void(0)">' + params.data.jobTitle + '</a>';} },
	    {headerName: "# of positions", field: "noPosition",type:"rightAligned"},
	    {headerName: "Band", field: "band"},
	    {headerName: "Department", field: "department"},
	    {headerName: "Hiring Manager", field: "hiringManager"},
	    {headerName: "Join Date", field: "joinDate",cellStyle: {textAlign: 'center'}},
	    {headerName: "CTC Cap", field: "minSalary",type:"rightAligned"},
	    {headerName: "Status", field: "activityStatus"},
	    {headerName: "Applicants", field: "applicant"},
	    {headerName: "Shortlisted", field: "shortList"},
	    {headerName: "Interviewed", field: "interviewed"},
	    {headerName: "Offered", field: "offered"},
	    {headerName: "Create Date", field: "createdOn",cellStyle: {textAlign: 'center'}}
	]; 
	
var rowData = [];
function vendorAllocate(){
	 var selectedRows = gridOptions.api.getSelectedRows();
		var selectedRowsString = '';
		selectedRows.forEach(function(selectedRow, index) {
		if (index == 0) {
			selectedRowsString += selectedRow.requisitionId;
		} selectedRowsString += '"' + selectedRow.requisitionId + '"';
		
		});
		$('#myModal10').modal('show');
		
		rowData = [
			{requisitionId: "8", jobTitle: 'Software Engineer', noPosition: "2", band: "Band 4", department: "Product development", hiringManager: "Pradip Singh", joinDate: "8-Nov-2020",
				minSalary: "400000", activityStatus: "Active"}
			];
		
		
		/* if(selectedRowsString){
			$('#myModal10').modal('show');
		} else{
			swal("Please Select Requisition.");
		} */
		
}
	
var columnDefsChild = [
	{headerName: "Req ID", field: "requisitionId" },
	    {headerName: "Title", field: "jobTitle"},
	    {headerName: "# of positions", field: "noPosition"},
	    {headerName: "Band", field: "band"},
	    {headerName: "Department", field: "department"},
	    {headerName: "Hiring Manager", field: "hiringManager"},
	    {headerName: "Join Date", field: "joinDate"},
	    {headerName: "CTC Cap", field: "minSalary"},
	    {headerName: "Status", field: "activityStatus"}
	]; 


var gridOptionsChild = {
		   columnDefs: columnDefsChild,
		   rowData: rowData,
		  defaultColDef: {
			  sortable: true, 
			  filter: true, 
			  resizable: true, 
			  width: 149,
			  height: 10
		   }
		   
		 };
	
/* Date Formatter */
function dateFormat(getDate){
	
	var date1 = (getDate).split("-");
	var date = date1[2] + "-" + date1[1] + "-" + date1[0];
	return date;
}

//Comma separated ctc
/* function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
} */

     
 function titlePage(id){
			  $("#myGrid").hide();
			     $(".btn-hs").hide();
			     $("#hideTbl").hide();
			     $("#btnReset").hide();
			
			 $.ajax({
				type : "GET",
				url : "view-new-requi-mstr-edit?id=" + id,
				success : function(response) {
				if (response.message == "Success") {
					var s1 = 0;
					var s2 = 0;
					for(i = 0; i< response.body.length; i++){
					
						$('#reqId').val(response.body[i].requisitionId);
						$('#jobTitle').val(response.body[i].jobTitle);
						$('#jobType').val(response.body[i].jobType);
						$('#location').val(response.body[i].jobLocation);
						$('#educationReq').val(response.body[i].minEducation);
						$('#dept').val(response.body[i].department);
						$('#hiringManager').val(response.body[i].hiringManager);
						$('#workHour').val(response.body[i].workHour);
						$('#band').val(response.body[i].band);
						$('#minSalary').val(response.body[i].minSalary);
						$('#maxSalary').val(response.body[i].maxSalary);
						$('#noPos').val(response.body[i].noPosition);
						//$('#dateReq').val(new Date(response.body[i].joinDate));
						var date = dateFormat(response.body[i].joinDate);
						document.getElementById("dateReq").value = date;
						 
						$('#txtAreaSumN').val(response.body[i].positionSummary);
							txtLen = $('#txtAreaSumN').val().length;
						 	var pId1 = $('#txtAreaSumN').next().attr("id");
						 	 $('#'+pId1+' span').empty();
						 	 $('#'+pId1+' span').append(txtLen);
						$('#txtAreaResN').val(response.body[i].positionResponsibility);
							txtLen = $('#txtAreaResN').val().length;
						 	var pId2 = $('#txtAreaResN').next().attr("id");
						 	 $('#'+pId2+' span').empty();
						 	 $('#'+pId2+' span').append(txtLen);
						$('#txtAreaExpN').val(response.body[i].requiredSkillExperience);
							txtLen = $('#txtAreaExpN').val().length;
						 	var pId3 = $('#txtAreaExpN').next().attr("id");
						 	 $('#'+pId3+' span').empty();
						 	 $('#'+pId3+' span').append(txtLen);
						$("#" + response.body[i].reqBenefits).attr("checked","checked");
						if(response.body[i].approver != null && response.body[i].approver != ""){
							$("#approvalCheck").attr("checked","checked");
							s1 = 1;
						}
						if(response.body[i].about != null && response.body[i].about != ""){
							$(".about").attr("checked","checked");
							s2 = 1;
						}
						if(response.body[i].activityStatus == "1"){
							$('#createDate').html(response.body[i].createdOn);
							$('#createdDiv').attr("class","green-box");
							$('#divCreate').attr("class","green-box-heading");
							
							} else if(response.body[i].activityStatus == "2"){
							
						} else if(response.body[i].activityStatus == "3"){
							
						}
					}
					if(s1 == 1){
						approval();
					}
					if(s2 == 1){
						about();
					}
				
					$("#demo").show();
				}
				},
				error : function(data) {
				console.log(data);
				}
			})
 }
 
/* function cellAsLink(){
	 link = "<a href='#'onclick='titlePage()'>" + rowData[i++].title + "</a>";
	 i++;
	 return link;
 }  */

     
 // let the grid know which columns and what data to use
 var gridOptions = {
   columnDefs: columnDefs,
  defaultColDef: {
	  sortable: true, 
	  filter: true, 
	  resizable: true, 
	  width: 149,
	  height: 10
   }
   
 };
 

 // setup the grid after the page has finished loading
 document.addEventListener('DOMContentLoaded', function() {
     var gridDiv = document.querySelector('#myGrid');
     new agGrid.Grid(gridDiv, gridOptions);
     
     
     var myVendor = document.querySelector('#myVendor');
     new agGrid.Grid(myVendor, gridOptionsChild);
     
 });
  
  agGrid.simpleHttpRequest({url: 'view-new-requi-mstr-view-data'}).then(function(data) {
	var len = data.length;
	$('#totalReq').find('span').html(len);
      gridOptions.api.setRowData(data);
   });
    
  /* function resetState() {
	   gridOptions.columnApi.resetColumnState();
	   console.log('column state reset');
	 } */
    
    function onQuickFilterChanged() {
    	  gridOptions.api.setQuickFilter(document.getElementById('quickFilter').value);
    	}
    
    //OTHER THAN AG-GRID
    var len = 0;
    var approverName = '';
    function approval(){
    	len ++;
    	
    	if(len == 1){
    		$('#approvalName').show();
    		approverName = $('#approver').val();
    	}else{
    		$('#approvalName').hide();
    		len=0;
    		
    	}
    	
    }
    var len1 = 0;
    var aboutComp = '';
    function about(){
    	len1 ++;
    	var id =  document.getElementById("aboutCompany");
    	if(len1 == 1){
    		id.style.display="block";
    		aboutComp = $('#aboutComp').attr('value');
    	}else{
    		id.style.display="none";
    		
    		len1=0;
    	}
    	
    }

   
var userRole = [];
	function addNewReq(){
		
		$("input:checkbox[name=benefits]:checked").each(function() {
			userRole.push($(this).val());
		})
		
		var obj = {};
		obj.requisitionId = $('#reqId').val();
		obj.benefits = userRole;
		obj.jobTitle = $('#jobTitle').val();
		obj.jobType = $('#jobType').find(":selected").val();
		obj.jobLocation = $('#location').find(":selected").val();
		obj.minEducation = $('#educationReq').find(":selected").val();
		obj.minSalary = $('#minSalary').val();
		obj.maxSalary = $('#maxSalary').val();dept
		obj.department = $('#dept').find(":selected").val();
		obj.hiringManager = $('#hiringManager').find(":selected").val();
		obj.noPosition = $('#noPos').val();
		obj.workHour = $('#workHour').find(":selected").val();
		obj.band= $('#band').find(":selected").val();
		obj.joinDate = $('#dateReq').val();
		obj.positionSummary = $('#txtAreaSumN').val();
		obj.positionResponsibility = $('#txtAreaResN').val();
		obj.requiredSkillExperience = $('#txtAreaExpN').val();
		obj.approver = approverName;
		obj.about = aboutComp;
		
		console.log(obj)
		$.ajax({
			type		: "POST",
			url 		: "view-new-requi-mstr-ajax",
			contentType	: "application/json",
			data		: JSON.stringify(obj),
			/* async 		: false, */
			success		: function(response){
				console.log(response);
				if(response.message=="Success"){
					
							window.location.href = "/recruitment/view-new-requi-mstr";
				}/* else{
					swal({
						title:response.code,
						text: response.message,
						type:"warning"
					})
				} */
			},error		: function(data){
				
				console.log(data);
			}
		}) //ajax ends
	}
	
	
	function deleteReq() {

		var selectedRows = gridOptions.api.getSelectedRows();
		var selectedRowsString = '';
		selectedRows.forEach(function(selectedRow, index) {
		if (index > 0) {
		selectedRowsString += ',';
		}
		selectedRowsString += '"' + selectedRow.requisitionId + '"';
		});
		
		if (selectedRowsString) {
			
			$.ajax({
				type : "POST",
				url : "view-new-requi-mstr-delete?id="+ selectedRowsString,
				success : function(response) {
				if (response.message == "success") {
					window.location.href = "/recruitment/view-new-requi-mstr";
				}
				},
				error : function(data) {
				console.log(data);
				}
			})
		} else {
			$('#reqValid').modal('toggle');
		}

		}
	
function copyBtn(){
   var status = 1;
     var selectedRows = gridOptions.api.getSelectedRows();
		var selectedRowsString = '';
		selectedRows.forEach(function(selectedRow, index) {
		if (index == 0) {
			selectedRowsString += selectedRow.requisitionId;
			status = 1;
		} else{
			$('#modalMsg').text("");
			$('#reqValid').modal('toggle');
			$('#modalMsg').text("Select only one Requisition.");
			selectedRowsString = "";
			status = 0;
		}
		
		});
		if(status){
			copyData(selectedRowsString);
		}
		
   }
	
	function copyData(selectedRowsString){
		if (selectedRowsString){
			$("#myGrid").hide();
		   	$(".btn-hs").hide();
		   	$("#hideTbl").hide();
		    $('#reqId').val("");
		    $('#createDate').html('');
		    
			$.ajax({
				type : "GET",
				url : "view-new-requi-mstr-edit?id=" + selectedRowsString,
				success : function(response) {
				if (response.message == "Success") {
					var s1 = 0;
					var s2 = 0;
					for(i = 0; i< response.body.length; i++){
					
						$('#jobTitle').val(response.body[i].jobTitle);
						$('#jobType').val(response.body[i].jobType);
						$('#location').val(response.body[i].jobLocation);
						$('#educationReq').val(response.body[i].minEducation);
						$('#dept').val(response.body[i].department);
						$('#hiringManager').val(response.body[i].hiringManager);
						$('#workHour').val(response.body[i].workHour);
						$('#band').val(response.body[i].band);
						$('#minSalary').val(response.body[i].minSalary);
						$('#maxSalary').val(response.body[i].maxSalary);
						$('#noPos').val(response.body[i].noPosition);
						
						var date = dateFormat(response.body[i].joinDate);
						document.getElementById("dateReq").value = date;
						
						$('#txtAreaSumN').val(response.body[i].positionSummary);
							txtLen = $('#txtAreaSumN').val().length;
						 	var pId1 = $('#txtAreaSumN').next().attr("id");
						 	 $('#'+pId1+' span').empty();
						 	 $('#'+pId1+' span').append(txtLen);
						$('#txtAreaResN').val(response.body[i].positionResponsibility);
							txtLen = $('#txtAreaResN').val().length;
						 	var pId2 = $('#txtAreaResN').next().attr("id");
						 	 $('#'+pId2+' span').empty();
						 	 $('#'+pId2+' span').append(txtLen);
						$('#txtAreaExpN').val(response.body[i].requiredSkillExperience);
							txtLen = $('#txtAreaExpN').val().length;
						 	var pId3 = $('#txtAreaExpN').next().attr("id");
						 	 $('#'+pId3+' span').empty();
						 	 $('#'+pId3+' span').append(txtLen);
						$("#" + response.body[i].reqBenefits).attr("checked","checked");
						if(response.body[i].approver != null && response.body[i].approver != ""){
							$("#approvalCheck").attr("checked","checked");
							s1 = 1;
						}
						if(response.body[i].about != null && response.body[i].about != ""){
							$(".about").attr("checked","checked");
							s2 = 1;
						}
					}
					if(s1 == 1){
						approval();
					}
					if(s2 == 1){
						about();
					}
				
					$("#demo").show()
				}
				},
				error : function(data) {
				console.log(data);
				}
			})
		} else {
			$('#reqValid').modal('toggle');
			$('#modalMsg').text("");
			$('#modalMsg').text("Select an Requisition.");
		}
	}
	
	//var gridOptions1 = {};
	
	
</script>
   </head>
   <body>
   <div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						
						<div class="row margin_topbot" id="hideTbl">
                       <div class="col-md-8">
                            <div class="input-style row">
                                <input type="text"  placeholder="Search.." name="search" class="searchboxinput" onkeyup="cancelBar()" oninput="onQuickFilterChanged()" id="quickFilter" >
                                <div class="searchicon"><a href="javascript: void(0)"><span style="display:none;border-right:1px solid #ccc;padding-right:5px;" id="closeKey" onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';" class="close_i"><i class="ti-close srchicon"></i></span></a><a href="javascript: void(0)"><i class="ti-search srchicon"></i></a></div>
                            </div>
                    </div>
                </div>
<!--  <form enctype="multipart/form-data"> -->
                <div class="row">
                   
                        <div class="col-md-6  btn-hs">
                            <div class="font-design" id="totalReq">REQUISITION LIST (<span></span>)  <!-- <i onclick="resetState()" class="ti-reload tblreset" id="btnReset"></i> --></div>
                        </div>
                        <div class="col-md-3 btn-hs">
                            <div class="row">
                                <input type="button" class="btn1" value="NEW" onclick="newBtn()" readonly>
                                <input type="button" class="btn2" value="COPY" onclick="copyBtn()" readonly>
                                <input type="button" class="btn3" value="DELETE" data-toggle="modal" data-target="#delete" readonly>
                                <!--  <a class="btn2 add-record copy" data-added="0">COPY</a>
                                 <a class="btn3 delete-record copy">DELETE</a> -->
                            </div>
                        </div>
                        <div class="col-md-2 btn-hs">
                            <div class="row">
                                <button class="btn2">APPROVE</button>
                                <button class="btn2">POST</button>
                            </div>
                        </div>
                        <div class="col-md-1 btn-hs">
                            <div class="row">
                                <input type="button" value="ALLOCATE VENDOR" class="btn2" onclick="vendorAllocate()">
                            </div>
                        </div>
                  </div>
					
            <div id="myGrid" style="width:100%; height:200px;" class="ag-theme-alpine"></div>
            
<div  class="collapse" id="demo" >
<div class="col-md-12">
    <div class="innerstickybg">          
<div class="row">
    <div class="col-md-6">
        <div class="hr2"></div>
        <div class="main-div">
            <div class="section2">
                <div class="grey-box" id="createdDiv">
                    <div class="" id="divCreate">CREATED</div>
                    <div class="date" id="createDate"></div>
                </div>
            </div>
            <div class="section3">
                <div class="grey-box">
                    <div class="">ACTIVE</div>
                    <div class="date"></div>
                </div>
            </div>
            <div class="section4">
                <div class="grey-box">
                <div>CLOSED</div>   
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
       <button class="btn2">Approve</button>
       <button class="btn2">Post</button>
    </div>
    <div class="col-md-3 padding-0" align="right">
        <button class="btn4" type="button" data-dismiss="modal" id="cancelBtn">CANCEL</button>
        <button class="btn3">DELETE</button>
        <button class="btn1" onclick="addNewReq()">SAVE</button>
    </div>
</div>
</div>
<div class="innercontent">
<div class="row">
<div class="col-md-12 padding-0">
    <div class="row">
    <!-- REQUISITION ID -->
    <input type="hidden" id="reqId">
    
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="javascript: void(0)" data-toggle="collapse" data-target="#demo">
                    <div class="number1">0</div>
                    <div class="text1">APPLIED</div>
                </a>
            </div>
        </div>
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="hrms_hire.html">
                    <div class="number1">0</div>
                    <div class="text1">SHORTLISTED</div>
                </a>
            </div>
        </div>
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="hrms_hire.html">
                    <div class="number1">0</div>
                    <div class="text1">INTERVIEWED</div>
                </a>
            </div>
        </div>
        <div class="newgrid">
            <div class="box border-line" align="center">
                <a href="hrms_hire.html">
                    <div class="number1">0</div>
                    <div class="text1">OFFERED</div>
                </a>
            </div>
        </div>
        
        
    </div>
</div>
</div>
<div class="row">
<div class="row">
<div class="col-md-4">
<div class="form-group">
    <label>Job Title</label>
    <input type="text" class="form-control" id="jobTitle" placeholder="Type Job Title">
  </div>
</div>
<!-- <div class="col-md-4">
    <div class="form-group">
    <label>Create Date</label>
    <input type="text" id="createDate" class="form-control no-border">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Created By</label>
    <input type="text" id="craetedBy" class="form-control no-border">
  </div>
</div> -->
<div class="col-md-4">
<div class="form-group">
    <label>Job Type</label>
    <div class="select">
    <select id="jobType">
    <option value="">Select Job Type</option>
      <option th:each="c,iter:${jobTypeList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Job Location</label>
     <div class="select">
    <select id="location">
      <option value="">Select Location</option>
      <option th:each="c,iter:${jobLocationList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
 </div>
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Minimum Education Required</label>
    <div class="select">
    <select id="educationReq" >
      <option value="">Select  Education</option>
      <option th:each="c,iter:${educationList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
   </div>
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Annual Salary Range (Minimum)</label>
      <input type="text" data-type="currency" class="form-control" id="minSalary" placeholder="Annual Salary">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Annual Salary Range (Maximum)</label>
     <input type="text" class="form-control" id="maxSalary" placeholder="Annual Salary">
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Department</label>
     <div class="select">
  	 <select  id="dept" >
  	 <option value="">Select Department</option>
      <option th:each="c,iter:${DepartmentList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
<div class="form-group">
    <label>Hiring Manager</label>
     <div class="select">
   <select id="hiringManager" >
      <option value="">Select Manager</option>
      <option th:each="c,iter:${managerList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>


<div class="col-md-4">
<div class="form-group">
    <label>Number of Position</label>
      <input type="text" class="form-control" id="noPos" placeholder="Number of Position">
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Excepted Work hours</label>
    <div class="select">
    <select id="workHour" >
      <option value="">Select Work Hour</option>
      <option th:each="c,iter:${workHourList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="form-group">
    <label>Band</label>
    <div class="select">
    <select id="band" >
    <option value="">Select Band</option>
      <option th:each="c,iter:${bandList}" th:value="${c.key}"
			th:text="${c.name}"></option>
    </select>
   </div>
  </div>
</div>

<div class="col-md-4">
	<div class="form-group">
    	<label>Joining Date</label>
      	<input type="date" id="dateReq" class="form-control" >
	</div>
</div>

</div>

<div class="row">
                <div class="col-md-12">
                    <div class="modal-inrheading">Position Summary</div>
                      <div class="position-text">
                            <textarea rows="4" cols="100" id="txtAreaSumN" onkeyup="textCount(event)"></textarea>
                            <div id="charNumSN" class="txtcounter" align="right"><span>0</span> characters</div>
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-inrheading">Position Responsibility</div>
                      <div class="position-text">
                            <textarea rows="4" cols="100" id="txtAreaResN" onkeyup="textCount(event)"></textarea>
                            <div id="charNumRN" class="txtcounter" align="right"><span>0</span> characters</div>
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-inrheading">Required Skills and Experience</div>
                     <div class="position-text">
                            <textarea rows="4" cols="100" id="txtAreaExpN" onkeyup="textCount(event)"></textarea>
                            <div id="charNumEN" class="txtcounter" align="right"><span>0</span> characters</div>
                        </div>
               </div>
               <div class="col-md-12">
               <div class="modal-inrheading">Benefits</div>
                <div class="row">
                <th:block th:each="c,iter:${benefitsList}">
	                <div class="col-md-3">
	                    <div class="checkbox">
	                      <input type="checkbox" class="benefitChk" value=""  th:id="${c.key}" th:value='${c.key}'
							name="benefits" ><span th:text="${c.name}"></span>
	                    </div>
	               </div>
              </th:block>
            </div>
        </div>
         <div class="col-md-12 mrt_25 gapping">
            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="checkbox">
                      <label><input type="checkbox" id="approvalCheck" onclick="approval()">Need Approval</label>
                    </div>
                </div>
                <div class="col-4 col-md-4" id="approvalName">
                      <div class="form-group">
                        <label for="approvalName">Approver</label>
                         <div class="select">
                        <select id="approver" >
                          <option>Pinaki Datta</option>
                        </select>
                        </div>
                      </div>
                </div>
            </div>
     </div>
     
	   <div class="col-md-12">
		   <div class="checkbox">
			   <label><input type="checkbox" class="about" onclick="about()">Include about company</label>
		</div>
		</div>
	<div class="col-md-12" id="aboutCompany" style="display: none;">
		<div class="position-text">
			   <textarea rows="4" cols="100" id="aboutComp" th:value="${aboutComapany[0].key}" th:text="${aboutComapany[0].name}"></textarea>
		  </div>
	</div>     
           </div>
        </div>
    </div>
   </div>
</div>

<div class="modal fade" id="myModal10">
<div class="modal-dialog modal-lg" style="max-width:1100px">
<div class="modal-content" style="width:100%">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title" style="font-size:16px"><b>Allocate Vendor for Requisition: <span></span></b></h4>
<button type="button" class="close" data-dismiss="modal" style="font-size:25px">×</button>
</div>
    <!-- Modal body -->
<div class="modal-body" style="height: 600px; overflow-y:scroll; ">
<div class="vertical-line">

<div class="row">
               <div id="myVendor" style="width:100%; height:100px;" class="ag-theme-alpine"></div>
            </div>
            <div class="row mt-20">
                <div class="col-md-9">
                    <div class="modal-inrheading">Vendor List (2/31)</div>
                </div>
                <div class="col-md-3 mrt_btm" align="right">
                    <button class="btn3">Remove</button>
                    <button class="btn1" onclick="allocateVendor()">Allocate</button>
                </div>
                <div class="col-md-12">
                      <table class="newtbl" id="example">
                        <thead>
                          <tr>
                            <th align="center" width=20>
                              <input type="checkbox" id="checkM1" onclick="allCheck()"><label for="checkM1"></label>
                            </th>
                            <th width="100" align="center">ID</th>
                            <th width="300" align="center">Name</th>
                            <th align="center">Location</th>
                            <th align="center">Expertize</th>
                            <th align="center">Reqs Sent<br>(Last 12 Months)</th>
                            <th align="center">Candidates<br>(Last 12 Months)</th>
                            <th align="center">Closed<br>(Last 12 Months)</th>
                          </tr>
                        </thead>
                        <tbody id=vendorTable>
                          <tr>
                            <td><input class="checkCls" type="checkbox" id="checkM2"><label for="checkM2"></label></td>
                            <td align="center">102</td>
                            <td align="left">Advanced Tech</td>
                            <td align="left">Chennai.India</td>
                            <td align="left">IT</td>
                            <td align="center">12</td>
                            <td align="center">29</td>
                            <td align="center">3</td>
                          </tr>
                          <tr>
                            <td><input class="checkCls" type="checkbox" id="checkM3"><label for="checkM3"></label></td>
                            <td align="center">329</td>
                            <td align="left">Global Tech</td>
                            <td align="left">Mumbai.India</td>
                            <td align="left">Software Developer</td>
                            <td align="center">23</td>
                            <td align="center">47</td>
                            <td align="center">12</td>
                          </tr>
                          <tr>
                            <td><input class="checkCls" type="checkbox" id="checkM4"><label for="checkM4"></label></td>
                            <td align="center">102</td>
                            <td align="left">Advanced Tech</td>
                            <td align="left">Chennai.India</td>
                            <td align="left">IT</td>
                            <td align="center">12</td>
                            <td align="center">29</td>
                            <td align="center">3</td>
                          </tr>
                          <tr>
                            <td><input class="checkCls" type="checkbox" id="checkM5"><label for="checkM5"></label></td>
                            <td align="center">329</td>
                            <td align="left">Global Tech</td>
                            <td align="left">Mumbai.India</td>
                            <td align="left">Software Developer</td>
                            <td align="center">23</td>
                            <td align="center">47</td>
                            <td align="center">12</td>
                          </tr>
                          <tr>
                            <td><input class="checkCls" type="checkbox"id="checkM6"><label for="checkM6"></label></td>
                            <td align="center">102</td>
                            <td align="left">Advanced Tech</td>
                            <td align="left">Chennai.India</td>
                            <td align="left">IT</td>
                            <td align="center">12</td>
                            <td align="center">29</td>
                            <td align="center">3</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>         
           
       </div>
  </div>
</div>
</div>
</div>

 <!-- The Modal For Delete-->
  <div class="modal fade" id="delete">
    <div class="modal-dialog modal-confirm">
	<div class="modal-content">
	<div class="modal-header flex-column">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	<i class="ti-close modal-close"></i>
	</button>
	</div>
	<div class="modal-body">
	<p>Do you really want to delete these records? This process
			cannot be undone.</p>
		</div>
	<div class="modal-footer justify-content-center">
	<button type="button" class="btn1" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button type="button" class="btn3" id="deleteModalBtn" onclick="deleteReq()" >Delete</button>
	</div>
	</div>
	</div>
  </div>
  
<!-- The Modal For Validation-->
  <div class="modal fade" id="reqValid">
    <div class="modal-dialog modal-confirm">
	<div class="modal-content">
	<div class="modal-header flex-column">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	<i class="ti-close modal-close"></i>
	</button>
	</div>
	<div class="modal-body">
	<p id="modalMsg"></p>
	</div>
	<div class="modal-footer justify-content-center">
	<button type="button" class="btn1" data-dismiss="modal" aria-hidden="true">Ok</button>
	</div>
	</div>
	</div>
  </div>



</div>
</div>
</div>
</div>
</div>


</body>
</html>