<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style type="text/css">
.highcharts-exporting-group {
	display: none;
}

.slidebox {
	padding: 14px;
	margin-top: 0px;
	margin: 0px 10px;
}

.form-group label {
	font-size: 12px;
	position: relative;
	top: 4px;
}
</style>
<script type="text/javascript">
	function openNav() {
		document.getElementById("mySidenav").style.cssText = "width: 350px; position: absolute; right:-30px; overflow: hidden; height:770px; top:200px;";

		document.getElementById("main_content").style.width = "72%";
	}

	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("main_content").style.width = "100%";
	}
	var count = 0;
	function allCheck() {
		count++;

		if (count == 1) {
			$('.checkCls').prop("checked", true);
		} else {
			count = 0;
			$('.checkCls').prop("checked", false);
		}
	}

	var count1 = 0;
	function allCheck1() {
		count1++;

		if (count1 == 1) {
			$('.checkCls1').prop("checked", true);
		} else {
			count1 = 0;
			$('.checkCls1').prop("checked", false);
		}
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";
		if ($('#searchBar').val() == null || $('#searchBar').val() == "") {
			id.style.display = "none";
		}
	}
</script>

<script type="text/javascript">
	$(document).ready(function() {
		changeOpt();
		/* $("#lineGraphDiv").hide(); */

		/* $("#receiveDate").datetimepicker({
			format : 'd-m-Y',
			closeOnDateSelect : true,
			timepicker : false,
		})
		 */

		$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});

		$('.collapse').on('hide.bs.collapse', function() {
			$(this).siblings('.panel-heading').removeClass('active');
		});
		$("#newBtn").click(function() {
			$("#myGrid").hide();
			$("#reqTable").hide();
			$(".btn-hs").hide();
			$("#demo").show();
		})

		$("#cancelBtn").click(function() {
			$("#reqTable").show();
			$(".btn-hs").show();
			$("#myGrid").show();
			$("#demo").hide();
		});

		$("#quarter").click(function() {
			$("#myTbl").hide();
			$(".btn-hs").hide();
			$("#demo").show();
		})

	});

	$("input[class='myCheckbox']").click(function() {
		if ($("#formID input:checkbox:checked").length > 0) {
			$(".checkSubmit").addClass('active');
		} else {
			$(".checkSubmit").removeClass('active');
		}
	});

	function changeOpt() {
		var Category = $("#Category").val();
		$("#type").empty();
		if (Category == 'Product') {
			var option = "<option id='ProductOpt'>Software</option> <option id='ProductOpt'>Hardware</option> <option id='ProductOpt'>Office</option> <option id='ProductOpt'>Food</option> <option id='ProductOpt'>Parts</option> <option id='ProductOpt'>Raw Material</option>";
			$("#type").append(option);
		} else {
			var option = "<option id='ServicesOpt'>Credit Card</option> <option id='ServicesOpt'>Bank</option> <option id='ServicesOpt'>Insurance</option> <option id='ServicesOpt'>Financial Service</option> <option id='ServicesOpt'>Government Agency</option> <option id='ServicesOpt'>GOffice Maintenance</option> <option id='ServicesOpt'>Consulting</option>";
			$("#type").append(option);
		}
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";
		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}
</script>

<script>
	var columnDefs = [ {
		headerCheckboxSelection : true,
		headerCheckboxSelectionFilteredOnly : true,
		checkboxSelection : true,
		sortable : false,
		filter : false,
		resizable : true,
		width : 20
	}, {
		headerName : "Req Id",
		field : "sku"

	}, {
		headerName : "Description",
		field : "brand"
	}, {
		headerName : "Type",
		field : "brand"
	}, {
		headerName : "Priority",
		field : "itemName"

	}, {
		headerName : "Location",
		field : "model"

	}, {
		headerName : "Cost Center",
		field : "mode"

	}, {
		headerName : "Quantity",
		field : "uom",
		type : 'rightAligned'

	}, {
		headerName : "Estimated Price",
		field : "minStock",
		type : 'rightAligned'

	}, {
		headerName : "Receive By Date",
		field : "stockInHand"

	}, {
		headerName : "Status",
		field : "stockInTransit"

	}, {
		headerName : "Created By",
		field : "totalStock"

	}, {
		headerName : "Created Date",
		field : "lastReceiceDate"

	} ];

	// for product table

	var productDefs = [ {
		headerCheckboxSelection : true,
		headerCheckboxSelectionFilteredOnly : true,
		checkboxSelection : true,
		sortable : false,
		filter : false,
		resizable : true,
		width : 20
	}, {
		headerName : "SKU",
		field : "sku"
	}, {
		headerName : "Name",
		field : "itemName"

	}, {
		headerName : "itemId",
		field : "itemId",
		hide : "true"
	}, {
		headerName : "Brand",
		field : "brand"
	}, {
		headerName : "Location",
		field : "location"

	}, {
		headerName : "locationId",
		field : "locationId",
		hide : "true"

	}, {
		headerName : "Cost Center",
		field : "costCenter"

	}, {
		headerName : "costCenterId",
		field : "costCenterId",
		hide : "true"
	}, {
		headerName : "Quantity",
		field : "qty"

	}, {
		headerName : "UOM",
		field : "uom"

	}, {
		headerName : "uomId",
		field : "uomId",
		hide : "true"
	}, {
		headerName : "Estimated Price",
		field : "estimatedPrice",
		type : 'rightAligned'

	}, {
		headerName : "Last Purchase Price",
		field : "lastPurchaseUnitPrice",
		type : 'rightAligned'

	}, {
		headerName : "Created Date",
		field : "lastPoDate"

	} ];

	var activityDefs = [ {
		headerCheckboxSelection : true,
		headerCheckboxSelectionFilteredOnly : true,
		checkboxSelection : true,
		sortable : false,
		filter : false,
		resizable : true,
		width : 20
	}, {
		headerName : "Activity Name",
		field : "operationBy"
	}, {
		headerName : "User Name",
		field : "operationName"
	}, {
		headerName : "Created Date",
		field : "operationOn"

	} ];

	// let the grid know which columns and what data to use product table
	var activityOptions = {
		columnDefs : activityDefs,

		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 353
		}

	};

	// let the grid know which columns and what data to use activity table
	var productOptions = {
		columnDefs : productDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 153
		}

	};

	// let the grid know which columns and what data to use
	var gridOptions = {
		columnDefs : columnDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 153
		}

	};

	// setup the grid after the page has finished loading
	document.addEventListener('DOMContentLoaded', function() {
		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);

		var gridDiv = document.querySelector('#product');
		new agGrid.Grid(gridDiv, productOptions);

		var gridDiv = document.querySelector('#activity');
		new agGrid.Grid(gridDiv, activityOptions);

	});

	// for product table
	agGrid.simpleHttpRequest({
		url : 'view-requisition-item-trough-ajax'
	}).then(function(data) {
		productOptions.api.setRowData(data);
	});

	agGrid.simpleHttpRequest({
		url : 'view-stock-trough-ajax'
	}).then(function(data) {
		gridOptions.api.setRowData(data);
	});

	agGrid.simpleHttpRequest({
		url : 'view-requisition-activity-log?id=' + $("#reqId").html()
	}).then(function(data) {
		activityOptions.api.setRowData(data);
	});

	function resetState() {
		gridOptions.columnApi.resetColumnState();

	}

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}
</script>
<script type="text/javascript">
	function stockReport() {

		var selectedRows = productOptions.api.getSelectedRows();
		var selectedRowsString = '';
		selectedRows.forEach(function(selectedRow, index) {
			if (index > 0) {
				selectedRowsString += ',';
			}
			selectedRowsString += selectedRow.itemId;
		});

		if (selectedRowsString) {
			/* $("#lineGraph").show(); */
			$('#lineGraph').modal('show');
			$
					.ajax({
						type : "GET",
						url : "/inventory/view-stock-daily-report?id="
								+ selectedRowsString,
						dataType : 'json',
						data : selectedRowsString,
						success : function(response) {
							if (response.message == "success") {
								$("#graphTable").empty();
								lineGrapg(response.body.dataList,
										response.body.dates, 'Stock');
								var tableHeader = '<tr>';
								for (var i = 0; i < response.body.dates.length; i++) {

									tableHeader = tableHeader + '<td>'
											+ response.body.dates[i] + '</td>';
								}
								tableHeader = tableHeader + '</tr>';
								$("#graphTable").append(tableHeader);

								for (var i = 0; i < response.body.dataList.length; i++) {
									var tableBody = '<tr><td>'
											+ response.body.dataList[i].name
											+ '</td>';
									for (var j = 0; j < response.body.dataList[i].data.length; j++) {
										tableBody = tableBody
												+ '<td>'
												+ response.body.dataList[i].data[j]
												+ '</td>';
									}
									tableBody = tableBody + '</tr>';
									$("#graphTable").append(tableBody);
								}

							}
						},
						error : function(data) {
							console.log(data);
						}
					})
		} else {
			swal("Please Select At least One Product.");
		}

	}

	function getExcelReport() {
		var selectedRows = productOptions.api.getSelectedRows();
		var selectedRowsString = '';
		selectedRows.forEach(function(selectedRow, index) {
			if (index > 0) {
				selectedRowsString += ',';
			}
			selectedRowsString += selectedRow.itemId;
		});

		window.location.href = "/inventory/view-stock-daily-report-excel?id="
				+ selectedRowsString;
	}
</script>

<script>
	function saveTableData() {
		var item = {};
		item.sku = $("#skuId").val();
		item.brand = $("#brandId").val();
		item.itemId = $("#itemId").val();
		item.itemName = $("#itemId").find('option:selected').text();
		item.locationId = $("#locationId").val();
		item.location = $("#locationId").find('option:selected').text();
		item.costCenterId = $("#costCenterId").val();
		item.costCenter = $("#costCenterId").find('option:selected').text();
		item.qty = $("#quantity").val();
		item.uomId = $("#uom").val();
		item.uom = $("#uom").find('option:selected').text();
		item.estimatedPrice = $("#estimatedPrice").val();
		item.estimatedTotalPrice = $("#totalEstPrc").val();
		item.lastPurchaseUnitPrice = $("#lastPurchaseUnitPrice").val();
		item.lastPurchaseTotalPrice = $("#lastPurchaseTotalPrice").val();
		var datas = [];
		productOptions.api.forEachNode(function(rowNode, index) {
			datas.push(rowNode.data);
		});
		datas.push(item)
		productOptions.api.setRowData(datas);

	}

	function saveData() {

		var datas = [];
		productOptions.api.forEachNode(function(rowNode, index) {
			var item = rowNode.data;
			item.desc = $("#desc").val();
			item.reqType = $("#reqType").val();
			item.reqPrior = $("#reqPrior").val();
			item.receiveDate = $("#receiveDate").val();
			item.holdStatus = $("#isHold").val();
			datas.push(item);
		});
		console.log(datas);
		saveRequisition(datas);
	}

	function saveRequisition(datas) {

		$.ajax({
			type : "POST",
			url : "view-requisition-save-th-ajax",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(dataset),
			success : function(response) {

				if (response.message == "Success") {

				} else {
					swal({
						title : response.code,
						text : response.message,
						type : "warning"
					})
				}
			},
			error : function(data) {
				console.log(data)
			}
		}) //ajax ends

	}
	
	  
	  function cancelBar(){
		  var id = document.getElementById("closeKey");
		  id.style.display = "block";
		  if($('#quickFilter').val() == null || $('#quickFilter').val() == ""){
			  id.style.display = "none";
		  }
	  }
</script>

</head>
<body>

	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						<div class="row margin_topbot">
							<div class="col-md-8 btn-hs">
								<div class="input-style row">
									<input type="text" placeholder="Search.." name="search"
										class="searchboxinput" onkeyup="cancelBar()"
										oninput="onQuickFilterChanged()" id="quickFilter">
									<div class="searchicon">
										<a href="#"><span style="display: none" id="closeKey"
											onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
											class="close_i">X</span></a><a href="#"><i
											class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="reqTable">

							<div class="col-md-6 btn-hs">
								<div class="font-design">
									REQUISITION LIST <span>(10)</span>
								</div>
							</div>
							<div class="col-md-3 btn-hs">
								<div class="row">
									<button class="btn1" id="newBtn">NEW</button>
									<button class="btn2" id="newBtn">COPY</button>
									<button class="btn3" id="newBtn">DELETE</button>
								</div>
							</div>
							<div class="col-md-1 btn-hs ">
								<button class="btn2 centerbtn">APPROVE</button>
							</div>

							<div class="col-md-2 btn-hs">
								<button class="btn4">UPLOAD</button>
								<button class="btn4">DOWNLOAD</button>
							</div>

						</div>
						<div id="myGrid" style="width: 100%; height: 200px;"
							class="ag-theme-alpine"></div>

						<div class="collapse" id="demo">
							<div class="innerstickybg">
								<div class="row">

									<div class="col-md-3">
										Requisition ID:<span id="reqId">1023</span>
									</div>
									<div class="col-md-6">
										<div class="hr4"></div>
										<div class="main-div">
											<div class="section2">
												<div class="green-box">
													<div class="green-box-heading">CREATED</div>
													<div class="date">9-OCT-20</div>
												</div>
											</div>
											<div class="section3">
												<div class="green-box">
													<div class="green-box-heading">ACTIVE</div>
													<div class="date">11-OCT-20</div>
												</div>
											</div>
											<div class="section4">
												<div class="grey-box">
													<div>COMPLETE</div>
												</div>
											</div>
											<div class="section5">
												<div class="grey-box">
													<div>ONHOLD</div>
												</div>
											</div>

										</div>
									</div>
									<div class="col-md-3" align="right">
										<button class="btn3" id="cancelBtn">Cancel</button>
										<button class="btn1" onclick="saveData()">Save</button>
									</div>
								</div>

							</div>
							<div class="row innersticky_contentgap">
								<div class="col-md-6">
									<div class="form-group">
										<label>Description</label>
										<textarea class="form-control" id="desc"></textarea>
										<input type="hidden" id="reqId" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Type</label>
												<div class="select">
													<select id="reqType">
														<option th:each="c:${requisitionTypeList}"
															th:value='${c.key}' th:text="${c.name}"
															th:selected="${c.key==employeeEmployment}"></option>
													</select>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<label>Priority</label>
												<div class="select">
													<select id="reqPrior">
														<option th:each="c:${requisitionPrioList}"
															th:value='${c.key}' th:text="${c.name}"
															th:selected="${c.key==employeeEmployment}"></option>
													</select>
												</div>
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Receive By Date</label> <input type="date"
													id="receiveDate" class="form-control">
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<button class="btn2 putonhold" id="putOnHold"
													onclick="putOnHold()">PUT ON HOLD</button>
												<input type="hidden" id="isHold" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="main_content">


								<div class="wrapper center-block">
									<div class="panel-group" id="accordion" role="tablist"
										aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading active" role="tab" id="headingOne">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse"
														data-parent="#accordion" href="#itemList"
														aria-expanded="true" aria-controls="itemList"> Item
														List </a>
												</h4>
											</div>
											<div id="itemList" class="panel-collapse collapse show"
												role="tabpanel" aria-labelledby="headingOne">
												<div class="row">

													<div class="col-md-4 btn-hs1">
														<div class="font-design"></div>
													</div>
													<div class="col-md-3 btn-hs1">
														<div class="row">
															<button class="btn1" id="newBtn1" onclick="openNav()">NEW</button>

															<button class="btn3" data-toggle="modal"
																data-target="#delete">DELETE</button>

														</div>
													</div>
													<div class="col-md-3 btn-hs1">
														<button class="btn2 btn_extend">Purchase History</button>
														<button class="btn2 btn_extend" onclick="stockReport()">Stock
															History</button>
													</div>

													<div class="col-md-2 btn-hs1" align="right">

														<button class="btn4">Download</button>
													</div>

												</div>
												<div id="product" style="width: 100%; height: 200px;"
													class="ag-theme-alpine"></div>


											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading active" role="tab" id="headingtwo">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse"
														data-parent="#accordion" href="#activityone"
														aria-expanded="true" aria-controls="itemList">
														Activities </a>
												</h4>
											</div>
											<div id="activityone" class="panel-collapse collapse show"
												role="tabpanel" aria-labelledby="headingtwo">
												<div class="row">

													<div class="col-md-4 btn-hs1">
														<div class="font-design"></div>
													</div>
													<div class="col-md-3 btn-hs1">
														<div class="row">
															<button class="btn1" id="newBtn1">NEW</button>

															<button class="btn3" data-toggle="modal"
																data-target="#delete">DELETE</button>

														</div>
													</div>
													<div class="col-md-2 btn-hs1">
														<button class="btn2">Approve</button>
													</div>

													<div class="col-md-3 btn-hs1" align="right">
														<button class="btn4">Upload</button>
														<button class="btn4">Download</button>
													</div>

												</div>
												<div id="activity" style="width: 100%; height: 200px;"
													class="ag-theme-alpine"></div>


											</div>
										</div>
									</div>


									<div id="mySidenav" class="sidenav">
										<div class="slidebox">
											<div class="row">
												<div class="col-md-9">
													<div class="edit">
														SKU :<span id="skuEditId"></span>
													</div>
												</div>
												<div class="col-md-3">
													<div class="arrow">
														<a href="javascript:void(0)" class="closebtn"
															onclick="closeNav()"><i class="ti-arrow-right"></i></a>
													</div>
												</div>
											</div>
											<div class="chartbtnsec">
												<div class="row">
													<button class="btn4">CANCEL</button>
													<button class="btn3">DELETE</button>
													<button class="btn1" onclick="saveTableData()">SAVE</button>
												</div>
											</div>

											<div class="row">
												<div class="col-lg-9">
													<div class="form-group">
														<!-- <label>Search</label> <input type="text"
															class="form-control transparenttxtbox"
															placeholder="search"> -->
														<div class="inner_search">
															<div class="input-style1 row">
																<input type="text" placeholder="Search.." name="search"
																	class="inner_searchboxinput" onkeyup="cancelBar()"
																	oninput="onQuickFilterChanged()" id="quickFilter">
																<div class="searchicon1">
																	<a href="#"><span
																		style="display: block; border-right: 1px solid rgb(204, 204, 204); padding-right: 5px;"
																		id="closeKey"
																		onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
																		class="close_i"><i class="ti-close srchicon"></i></span></a><a
																		href="#" style="color:#ccc;margin-top: -5px;"><i class="ti-search srchicon"></i></a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-3 mrt_6">
													<div class="form-group">
														<button class="btn2 ">Browse</button>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label>SKU</label> <input type="text"
															class="form-control transparenttxtbox" id="skuId"
															placeholder="SKU">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Brand</label> <input type="text"
															class="form-control transparenttxtbox"
															placeholder="Brand" id="brandId"> <input
															type="hidden" placeholder="Brand" id="brandId">
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-lg-8">
													<div class="form-group">
														<label>Item Name</label>
														<div class="select">
															<select id="itemId">
																<option th:each="c:${productList}"
																	th:value='${c.itemId}' th:text="${c.itemName}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-lg-8">
													<div class="form-group">
														<label>Location</label>
														<div class="select">
															<select id="locationId">
																<option th:each="c:${locationList}" th:value='${c.key}'
																	th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-lg-8">
													<div class="form-group">
														<label>Cost Center</label>
														<div class="select">
															<select id="costCenterId">
																<option th:each="c:${costCenterList}"
																	th:value='${c.key}' th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label>Quantity</label> <input type="text"
															class="form-control transparenttxtbox" id="quantity">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>UOM</label>
														<div class="select">
															<select id="uom">
																<option th:each="c:${costCenterList}"
																	th:value='${c.key}' th:text="${c.name}"></option>
															</select>
														</div>

													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label>Estimated Price</label> <input type="text"
															class="form-control transparenttxtbox"
															id="estimatedPrice">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Estimated Total Price</label> <input type="text"
															class="form-control transparenttxtbox" id="totalEstPrc">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label>Last Purchase unit Price</label> <input type="text"
															class="form-control transparenttxtbox"
															id="lastPurchaseUnitPrice">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Last Purchase Total Price</label> <input
															type="text" class="form-control transparenttxtbox"
															id="lastPurchaseTotalPrice">
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>

							</div>
						</div>





					</div>
					<div class="modal fade" id="lineGraph">
						<div class="modal-dialog modal-lg">
							<div class="modal-content large-model">

								<div align="right">
									<button type="button" class="close" data-dismiss="modal">
										<i class="ti-close" style="font-size: 14px;"></i>
									</button>
								</div>
								<!-- Modal body -->
								<div class="modal-body">
									<div class="row" id="lineGraphDiv">
										<div class="col-md-12">
											<div id="chart" class="collapse show">
												<div style="width: 90%; height: 280px; margin: 0 auto;">
													<div id="container1" style="width: 100%; height: 280px;"></div>
												</div>
												<div style="width: 90%; height: auto; margin: 0 auto;">
													<div class="row">
														<div class="col-md-12">

															<div align="right" class="pdficonsec">
																<i class="fa fa-file-pdf-o fa-2x pdf"
																	onclick="downloadChartPdf()"></i> <i
																	class="fa fa-file-excel-o fa-2x excel"
																	onclick="getExcelReport()"></i>
															</div>
															<table id="graphTable" class="newtbl">
															</table>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<!-- Modal footer -->
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>