<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
$(document).ready(function() {
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
})

function openNav() {
	document.getElementById("mySidenavSubCat").style.cssText = "width: 270px; position: absolute; right:-45px; overflow: hidden;";
	document.getElementById("main").style.width = "420px";
}

function closeNav() {
	document.getElementById("mySidenavSubCat").style.width = "0";
	document.getElementById("main").style.width = "480px";
}

function openCat() {
	document.getElementById("mySidenavCat").style.cssText = "width: 270px; position: absolute; right:-45px; overflow: hidden;";
	document.getElementById("main").style.width = "420px";
}

function closeCat() {
	document.getElementById("mySidenavCat").style.width = "0";
	document.getElementById("main").style.width = "480px";
}
</script>
</head>
<body>
	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						<div class="row margin_topbot" id="searchRowDiv">
						</div>
						<div class="row">

							<div class="col-md-10  btn-hs">
								<div class="font-design" id="totalReq">
									Product Category (<span>2</span>)
								</div>
							</div>
							<div class="col-md-2 btn-hs">
								<div class="row">
									<button class="btn1" id="newBtn" onclick="openCat();">NEW</button>
									<button class="btn3" id="locdeletebtn" onclick="deleteLocation()" >DELETE</button>
								</div>
							</div>

						</div>

						<!--  </div> -->
							<div class="wrapper center-block">
								<div class="panel-group" id="accordion" role="tablist"
									aria-multiselectable="true">
									<div class="panel panel-default">
										<div id="demo_11" class="panel-collapse collapse show"
											role="tabpanel" aria-labelledby="headingOne">
											<!-- show -->
											<div class="row">
												<div class="col-md-4">
													<div class="flowsection" style="border-right: 0px solid #ccc !important">
														<!-- code start for second tree -->
														<ul id="myUL" class="level">
														<li><span class="caret caret-down"></span>
															<div id="cbLoc">
																<input type="checkbox" id="check1" class="pc-box"
																	checked="checked">
															</div> <span id="locchkboxlabel" class="leveltxt">Clothings</span><span
															id="locCount" class="level_counter"> (0)</span> <label
															for="check1">&nbsp;&nbsp;<a
																href="javascript:void(0)"><i title=""
																	class="ti-plus cbicon" onclick="openFloorNav();"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
															<ul class="nested active" id="liFloor">
																<li><span class="caret caret-down"></span>
																	<div><input type="checkbox" checked="checked"></div><span>Shirts (0)</span>
																	<label for="chk2">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus"></i></a>
																	&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
																	<ul class="nested active" id="liFloor">
																		<li><span class="caret caret-down"></span>
																			<div><input type="checkbox" checked="checked"></div><span>Formals (0)</span>
																			<label for="chk2">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus"></i></a>
																			&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
																			<ul class="nested active" id="liFloor">
																				<li><span class="caret caret-down"></span>
																					<div><input type="checkbox" checked="checked"></div><span>Cotton (0)</span>
																					<label for="chk2">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus"></i></a>
																					&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
																					
																				</li>
																				<li><span class="caret caret-down"></span>
																					<div><input type="checkbox" checked="checked"></div><span>Casual (0)</span>
																					<label for="chk2">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus"></i></a>
																					&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
																					
																				</li>
																			</ul>
																		</li>
																	</ul>
																</li>
															</ul>
															<ul class="nested active" id="liFloor">
																<li><span class="caret caret-down"></span>
																	<div><input type="checkbox" checked="checked"></div><span>Pants (0)</span>
																	<label for="chk2">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus"></i></a>
																	&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
																	
																</li>
															</ul>
															<ul class="nested active" id="liFloor">
																<li><span class="caret caret-down"></span>
																	<div><input type="checkbox" checked="checked"></div><span>Shorts (0)</span>
																	<label for="chk2">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus"></i></a>
																	&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
																	
																</li>
															</ul>
														</li>
													</ul>
														<ul id="myUL" class="level">
														<li><span class="caret caret-down"></span>
															<div id="cbLoc">
																<input type="checkbox" id="check1" class="pc-box"
																	checked="checked">
															</div> <span id="locchkboxlabel" class="leveltxt">Electronics</span><span
															id="locCount" class="level_counter"> (0)</span> <label
															for="check1">&nbsp;&nbsp;<a
																href="javascript:void(0)"><i title=""
																	class="ti-plus cbicon" onclick="openFloorNav();"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
															<ul class="nested active" id="liFloor">
																<li><span class="caret caret-down"></span>
																	<div><input type="checkbox" checked="checked"></div><span>Television (0)</span>
																	<label for="chk2">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus"></i></a>
																	&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
																	
																</li>
															</ul>
															<ul class="nested active" id="liFloor">
																<li><span class="caret caret-down"></span>
																	<div><input type="checkbox" checked="checked"></div><span>Washing Machine (0)</span>
																	<label for="chk2">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus"></i></a>
																	&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
																	
																</li>
															</ul>
															<ul class="nested active" id="liFloor">
																<li><span class="caret caret-down"></span>
																	<div><input type="checkbox" checked="checked"></div><span>Refrigerator (0)</span>
																	<label for="chk2">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus"></i></a>
																	&nbsp;<a href="javascript:void(0)"><i class="ti-pencil"></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close"></i></a></label>
																	
																</li>
															</ul>
														</li>
													</ul>
														<!-- code end for second tree -->
													</div>
												</div>
												<div class="col-md-8">
													<div class="roomdetails roomListDiv" id="main"></div>
													<div class="slidearrow" onclick="openNav()">
														<i class="ti-arrow-left"></i>
													</div>
													<div id="mySidenav" class="sidenav">
														<div class="slidebox">
															<div class="row">
																<div class="col-md-10">
																	<div class="edit" id="roomLevelText"></div>
																</div>
																<div class="col-md-2">
																	<div class="arrow">
																		<a href="javascript:void(0)" class="closebtn"
																			onclick="closeNav()"><i class="ti-arrow-right"></i></a>
																	</div>
																</div>
																<div class="chartbtnsec">
																	<div class="row">
																		<button class="btn4" onclick="closeNav()">CANCEL</button>
																		<button class="btn3" id="dltRoom"
																			onclick="deleteRoom()">DELETE</button>
																		<button class="btn1" id="roomSave">SAVE</button>
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group">
																		<label>Code</label> <input type="text"
																			class="form-control transparenttxtbox"
																			placeholder="Room Code" id="roomCode"> <input
																			type="hidden" id="sectionRoomId"> <input
																			type="hidden" id="roomDBId">
																			<input type="hidden" id="rFloorSlNo">
																			<input type="hidden" id="rSectionSlNo">
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group">
																		<label>Name</label> <input type="text"
																			class="form-control transparenttxtbox"
																			placeholder="Room Name" id="roomName" onblur="checkCharLengthOfString('roomName','10');">
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group">
																		<label>Room Type</label> <div class="select"> <select id="roomType"
																			class="transparenttxtbox">
																			<option th:each="c,iter:${roomTypeList}"
																				th:value="${c.key}" th:text="${c.name}"></option>
																		</select> </div>
																	</div>
																</div>
															</div>
														</div>
													</div>

													<!-- Add Floor -->
													<div id="mySidenavSubCat" class="sidenav">
														<div class="slidebox">
															<div class="row">
																<div class="col-md-10">
																	<div class="edit" id="floorNavText">Sub-Category</div>
																</div>
																<div class="col-md-2">
																	<div class="arrow">
																		<a href="javascript:void(0)" class="closebtn"
																			onclick="closeNav()"><i
																			class="ti-arrow-right"></i></a>
																	</div>
																</div>
																<div class="chartbtnsec">
																	<div class="row">
																		<button class="btn4" onclick="closeNav()">CANCEL</button>
																		<button class="btn3" onclick="">DELETE</button>
																		<button class="btn1" id="floorSave">SAVE</button>
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group">
																		<label>Id</label> <input type="text" id="floorId"
																			class="form-control transparenttxtbox"
																			placeholder=""> <input type="hidden"
																			id="floorDBVal"> <input type="hidden"
																			id="floorSlNoDBVal">
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group">
																		<label>Name</label> <input type="text"
																			class="form-control transparenttxtbox"
																			placeholder="" id="floorName">
																	</div>
																</div>
															</div>
														</div>
													</div>

													<!-- Add Section -->
													<div id="mySidenavCat" class="sidenav">
														<div class="slidebox">
															<div class="row">
																<div class="col-md-10">
																	<div class="edit" id="sectionNavText">Category</div>
																</div>
																<div class="col-md-2">
																	<div class="arrow">
																		<a href="javascript:void(0)" class="closebtn"
																			onclick="closeCat()"><i
																			class="ti-arrow-right"></i></a>
																	</div>
																</div>
																<div class="chartbtnsec">
																	<div class="row">
																		<button class="btn4" onclick="closeCat()">CANCEL</button>
																		<button class="btn3" onclick="">DELETE</button>
																		<button class="btn1" id="sectionSave">SAVE</button>
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group">
																		<label>Id</label> <input type="text" id="sectionId"
																			class="form-control transparenttxtbox"
																			placeholder=""> <input type="hidden"
																			id="sectionDBVal"> <input type="hidden"
																			id="floorSection"> <input type="hidden"
																			id="floorSerialNo"> <input type="hidden"
																			id="sectionSerialNo">
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group">
																		<label>Name</label> <input type="text"
																			class="form-control transparenttxtbox"
																			placeholder="" id="sectionName">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div id="delete" class="modal fade show" aria-modal="true">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					<div class="modal-header flex-column">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" onclick="cancelModalBtn()">
							<i class="ti-close modal-close"></i>
						</button>
					</div>
					<div class="modal-body">
						<p>Do you really want to delete these records? This process
							cannot be undone.</p>
					</div>
					<div class="modal-footer justify-content-center"
						style="margin-top: -30px;">
						<button type="button" class="btn1" data-dismiss="modal"
							onclick="cancelModalBtn();">Cancel</button>
						<button type="button" class="btn3" id="deleteModalBtn">Delete</button>
					</div>
				</div>
			</div>
		</div>
		<div id="deleteFile" class="modal fade show" aria-modal="true">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					<div class="modal-header flex-column">
						<!-- <div class="icon-box">
							<i class="ti-close"></i>
						</div> -->
						<!-- <h4 class="modal-title w-100">Are you sure?</h4> -->
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" onclick="cancelModalBtn()">
							<i class="ti-close modal-close"></i>
						</button>
					</div>
					<div class="modal-body">
						<p>Do you really want to delete this image? This process
							cannot be undone.</p>
					</div>
					<div class="modal-footer justify-content-center"
						style="margin-top: -30px;">
						<button type="button" class="btn1" data-dismiss="modal"
							onclick="cancelModalBtn();">Cancel</button>
						<button type="button" class="btn3" onclick="deleteLocFile()">Delete</button>
						<!-- <img src="../assets/gif/loader.gif">  -->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
