<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
	function openNav() {
		document.getElementById("mySidenav").style.cssText = "width: 250px; position: absolute; right:-30px; overflow: hidden; height:370px;";

		document.getElementById("main_content").style.width = "83%";
	}

	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("main_content").style.width = "100%";
	}
</script>

<script type="text/javascript">
	$(document)
			.ready(
					function() {

						$('.collapse').on(
								'show.bs.collapse',
								function() {
									$(this).siblings('.panel-heading')
											.addClass('active');
								});

						$('.collapse').on(
								'hide.bs.collapse',
								function() {
									$(this).siblings('.panel-heading')
											.removeClass('active');
								});

						/* selectbox */
						var x, i, j, l, ll, selElmnt, a, b, c;
						/*look for any elements with the class "custom-select":*/
						x = document.getElementsByClassName("selectbox");
						l = x.length;
						for (i = 0; i < l; i++) {
							selElmnt = x[i].getElementsByTagName("select")[0];
							ll = selElmnt.length;
							/*for each element, create a new DIV that will act as the selected item:*/
							a = document.createElement("DIV");
							a.setAttribute("class", "select-selected");
							a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
							x[i].appendChild(a);
							/*for each element, create a new DIV that will contain the option list:*/
							b = document.createElement("DIV");
							b.setAttribute("class", "select-items select-hide");
							for (j = 1; j < ll; j++) {
								/*for each option in the original select element,
								create a new DIV that will act as an option item:*/
								c = document.createElement("DIV");
								c.innerHTML = selElmnt.options[j].innerHTML;
								c
										.addEventListener(
												"click",
												function(e) {
													/*when an item is clicked, update the original select box,
													and the selected item:*/
													var y, i, k, s, h, sl, yl;
													s = this.parentNode.parentNode
															.getElementsByTagName("select")[0];
													sl = s.length;
													h = this.parentNode.previousSibling;
													for (i = 0; i < sl; i++) {
														if (s.options[i].innerHTML == this.innerHTML) {
															s.selectedIndex = i;
															h.innerHTML = this.innerHTML;
															y = this.parentNode
																	.getElementsByClassName("same-as-selected");
															yl = y.length;
															for (k = 0; k < yl; k++) {
																y[k]
																		.removeAttribute("class");
															}
															this
																	.setAttribute(
																			"class",
																			"same-as-selected");
															break;
														}
													}
													h.click();
												});
								b.appendChild(c);
							}
							x[i].appendChild(b);
							a.addEventListener("click", function(e) {
								/*when the select box is clicked, close any other select boxes,
								and open/close the current select box:*/
								e.stopPropagation();
								closeAllSelect(this);
								this.nextSibling.classList
										.toggle("select-hide");
								this.classList.toggle("select-arrow-active");
							});
						}
						function closeAllSelect(elmnt) {
							/*a function that will close all select boxes in the document,
							except the current select box:*/
							var x, y, i, xl, yl, arrNo = [];
							x = document.getElementsByClassName("select-items");
							y = document
									.getElementsByClassName("select-selected");
							xl = x.length;
							yl = y.length;
							for (i = 0; i < yl; i++) {
								if (elmnt == y[i]) {
									arrNo.push(i)
								} else {
									y[i].classList
											.remove("select-arrow-active");
								}
							}
							for (i = 0; i < xl; i++) {
								if (arrNo.indexOf(i)) {
									x[i].classList.add("select-hide");
								}
							}
						}
					});
	/*if the user clicks anywhere outside the select box,
	 then close all select boxes:*/
	document.addEventListener("click", closeAllSelect);
</script>


<!------------------------------------- Add job type Script------------------------------------------- -->


<script type="text/javascript">
	$(document).ready(function() {

		$("#saveJobType").click(function() {
			alert("hii");
			data = {};

			data.jobTypeId = $("#jobtypeId").val();
			data.jobTypeCode = $("#jobTypeCode").val();
			data.jobTypeOrder = $("#jobTypeOrder").val();
			data.jobTypeName = $("#jobTypeName").val();
			data.jobTypeStatus = $("#jobTypeStatus").val();

			console.log("data", data)

			submitJobType(data);
			alert("hii 1");

		})
	})
	function submitJobType(dataset) {
		console.log(dataset)
		$.ajax({
			type : "POST",
			url : "add-job-type",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(dataset),
			success : function(response) {
				if (response.message == "Success") {

					console.log(response.body)

					/* $("#locchkboxlabel").text("");
					var labeltxt = response.body.locationCode + " - " + response.body.locationName + " (0)";
					$("#locchkboxlabel").text(labeltxt);
					 */
				} else {
					swal({
						title : response.code,
						text : response.message,
						type : "warning"
					})
				}
			},
			error : function(response) {
				console.log(response);
			}
		})
	}
</script>
</head>

<body>

	<div layout:fragment="content">
		<div class="content-wrap">
			<div class="container-fluid">
				<div class="maincontent">
					<div class="row">

						<div class="maincontentsec">
							<div class="content_padding">

								<div class="wrapper center-block">
									<div class="panel-group" id="accordion" role="tablist"
										aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading active" role="tab" id="headingOne">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseOne"
														aria-expanded="true" aria-controls="collapseOne"> Hire
													</a>
												</h4>
											</div>
											<hr style="width: 100%; left: -1px">

											<div id="collapseOne" class="panel-collapse collapse show"
												role="tabpanel" aria-labelledby="headingOne">
												<div class="panel-body">
													<div class="row" id="main_content">

														<div class="col-md-4">
															<div class="color_greentxt">Job Types</div>

															<div class="row">
																<div class="col-md-10">
																	<div class="sml_plus" onclick="openNav()">
																		<i class="ti-plus"></i>
																	</div>
																	<div class="sml_edit">
																		<i class="ti-pencil"></i>
																	</div>
																	<div class="sml_action">
																		<i class="ti-bolt-alt"></i>
																	</div>
																</div>

																<div class="sml_hide">
																	<i class="ti-download"></i>
																</div>

															</div>


															<div class="box_reference" align="center">
																<table class="table table-bordered newtbl">
																	<tr>
																		<td align="center">Order</td>
																		<td align="center">Name</td>
																		<td align="center">Status</td>
																	</tr>
																	<tr>
																		<td>1</td>
																		<td>Computer Hardware Engineers</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>2</td>
																		<td>Computer Network Architects</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>3</td>
																		<td>Computer Network Support Specialists</td>
																		<td>Inactive</td>
																	</tr>

																	<tr>
																		<td>4</td>
																		<td>Computer Operators</td>
																		<td>Inactive</td>
																	</tr>
																</table>
															</div>
														</div>



														<div class="col-md-4">
															<div class="color_greentxt">Education Levels</div>
															<div class="row">
																<div class="col-md-10">
																	<div class="sml_plus">
																		<i class="ti-plus"></i>
																	</div>
																	<div class="sml_edit">
																		<i class="ti-pencil"></i>
																	</div>
																	<div class="sml_action">
																		<i class="ti-bolt-alt"></i>
																	</div>
																</div>

																<div class="sml_hide">
																	<i class="ti-download"></i>
																</div>



															</div>

															<div class="box_reference" align="center">
																<table class="table table-bordered newtbl">

																	<tr>
																		<td align="center">Order</td>
																		<td align="center">Name</td>
																		<td align="center">Status</td>
																	</tr>

																	<tr>
																		<td>1</td>
																		<td>4 Year Undergrad</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>2</td>
																		<td>3 Year Undergrad</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>3</td>
																		<td>Masters</td>
																		<td>Inactive</td>
																	</tr>

																	<tr>
																		<td>4</td>
																		<td>Doctorate</td>
																		<td>Inactive</td>
																	</tr>


																</table>
															</div>
														</div>


														<div class="col-md-4">
															<div class="color_greentxt">Work Hours</div>
															<div class="row">
																<div class="col-md-10">
																	<div class="sml_plus">
																		<i class="ti-plus"></i>
																	</div>
																	<div class="sml_edit">
																		<i class="ti-pencil"></i>
																	</div>
																	<div class="sml_action">
																		<i class="ti-bolt-alt"></i>
																	</div>
																</div>

																<div class="sml_hide">
																	<i class="ti-download"></i>
																</div>

															</div>
															<div class="box_reference" align="center">
																<table class="table table-bordered newtbl">
																	<tr>
																		<td style="width: 5%">Order</td>
																		<td style="width: 20%">Name</td>
																		<td style="width: 5%">Status</td>
																	</tr>

																	<tr>
																		<td>1</td>
																		<td>8AM - 5PM (Mon - Fri)</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>2</td>
																		<td>8AM - 5PM (Mon - Fri)</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>3</td>
																		<td>8AM - 5PM (Wed - Sun)</td>
																		<td>Inactive</td>
																	</tr>

																	<tr>
																		<td>4</td>
																		<td>8AM - 5PM (Wed - Sun)</td>
																		<td>Inactive</td>
																	</tr>

																</table>
															</div>
														</div>


														<div class="col-md-4">
															<div class="color_greentxt">Job Band</div>
															<div class="row">
																<div class="col-md-10">
																	<div class="sml_plus">
																		<i class="ti-plus"></i>
																	</div>
																	<div class="sml_edit">
																		<i class="ti-pencil"></i>
																	</div>
																	<div class="sml_action">
																		<i class="ti-bolt-alt"></i>
																	</div>
																</div>

																<div class="sml_hide">
																	<i class="ti-download"></i>
																</div>

															</div>
															<div class="box_reference" align="center">
																<table class="table table-bordered newtbl">
																	<tr>
																		<td style="width: 5%">Order</td>
																		<td style="width: 20%">Name</td>
																		<td style="width: 5%">Status</td>
																	</tr>

																	<tr>
																		<td>1</td>
																		<td>Band 1</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>2</td>
																		<td>Band 2</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>3</td>
																		<td>Band 3</td>
																		<td>Inactive</td>
																	</tr>

																	<tr>
																		<td>4</td>
																		<td>Band 4</td>
																		<td>Inactive</td>
																	</tr>

																</table>
															</div>
														</div>

														<div class="col-md-4">
															<div class="color_greentxt">Benefits</div>
															<div class="row">
																<div class="col-md-10">
																	<div class="sml_plus">
																		<i class="ti-plus"></i>
																	</div>
																	<div class="sml_edit">
																		<i class="ti-pencil"></i>
																	</div>
																	<div class="sml_action">
																		<i class="ti-bolt-alt"></i>
																	</div>
																</div>

																<div class="sml_hide">
																	<i class="ti-download"></i>
																</div>

															</div>
															<div class="box_reference" align="center">
																<table class="table table-bordered newtbl">
																	<tr>
																		<td style="width: 5%">Order</td>
																		<td style="width: 20%">Name</td>
																		<td style="width: 5%">Status</td>
																	</tr>

																	<tr>
																		<td>1</td>
																		<td>Bonus Eligible</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>2</td>
																		<td>Health Insurance</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>3</td>
																		<td>Retirement Plan</td>
																		<td>Active</td>
																	</tr>

																	<tr>
																		<td>4</td>
																		<td>Paid Time Off</td>
																		<td>Active</td>
																	</tr>

																</table>
															</div>
														</div>


														<div id="mySidenav" class="sidenav">
															<div class="slidebox">
																<div class="row">
																	<div class="col-md-9">
																		<div class="edit">Job Type</div>
																	</div>
																	<div class="col-md-3">
																		<div class="arrow">
																			<a href="javascript:void(0)" class="closebtn"
																				onclick="closeNav()"><i class="ti-arrow-right"></i></a>
																		</div>
																	</div>

																	<div class="chartbtnsec">
																		<div class="row">
																			<button class="btn3">CANCEL</button>
																			<button class="btn2">DELETE</button>
																			<button class="btn1" id="saveJobType">SAVE</button>
																		</div>
																	</div>



																	<div class="col-md-12">
																		<div class="form-group">
																			<label>ID</label> <input type="text" id="jobtypeId"
																				class="form-control transparenttxtbox"
																				placeholder="1"> <input type="hidden"
																				id="jobTypeCode">


																		</div>
																	</div>

																	<div class="col-md-12">
																		<div class="form-group">
																			<label>Name</label> <input type="text"
																				class="form-control transparenttxtbox"
																				placeholder="Computer Hardware Engineer"
																				id="jobTypeName">
																		</div>
																	</div>

																	<div class="col-md-12">
																		<div class="form-group">
																			<label>Status</label> <select id="jobTypeStatus"
																				class="form-control">
																				<option value="active">Active</option>
																				<option value="inactive">Inactive</option>
																			</select>
																		</div>
																	</div>

																	<div class="col-md-12">
																		<div class="form-group">
																			<label>Order</label> <input type="text"
																				class="form-control transparenttxtbox"
																				placeholder="1" id="jobTypeOrder">
																		</div>
																	</div>


																</div>
															</div>
														</div>


													</div>
												</div>
											</div>

										</div>
									</div>
								</div>







							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>