<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">



<head>

<!-- <link rel="stylesheet" href="../assets/css/extend/style-extend.css"> -->
<title>Extend</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css"> -->
<!-- <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script> -->

<script>





	function addMore1() {

		var lengthOfTableRow = $("#doctbodyData").children('tr').length;
		var cloneHtml = $("#docTbl tbody tr:first").clone();

		$("#docTbl tbody").append($("#docTbl tbody tr:first").clone());
		$("#myTable tbody tr td:last").html("");
		var addMore = '<button type="button" class="btn btn-primary tr_clone_add" name="add" onclick="addMore1();"><span class="ti-plus"></span></button>&nbsp;'

		$("#docTbl tbody tr:last").find(".documentclss").val("");
		$("#docTbl tbody tr:last").find(".docNoclss").val("");
		$("#docTbl tbody tr:last").find(".documentclssup").val("");

		var editTr = 0;

		if (lengthOfTableRow > editTr) {

			$("#docTbl tbody tr").eq(lengthOfTableRow - 1).find('td:last')
					.append(removeMore);
		}
		$("#docTbl > tbody > tr").each(function(i) {
			var selectInput = $(this).find('select');
			var textInput = $(this).find('input');
			var fileInput = $(this).find('file');
			var divInput = $(this).find('div');
			selectInput.eq(0).attr('id', "docid_" + i);

			textInput.eq(0).attr('id', "docnoid_" + i);
			textInput.eq(1).attr('id', "uploadDoc_" + i);

		})

	}

	function addMore3() {

		var lengthOfTableRow = $("#workdetailstbodyData").children('tr').length;
		var cloneHtml = $("#docTbl tbody tr:first").clone();

		$("#workdetailsTbl tbody").append(
				$("#workdetailsTbl tbody tr:first").clone());
		$("#myTable tbody tr td:last").html("");
		var addMore = '<button type="button" class="btn btn-primary tr_clone_add" name="add" onclick="addMore3();"><span class="ti-plus"></span></button>&nbsp;'

		$("#workdetailsTbl tbody tr:last").find(".fromdatecls").val("");
		$("#workdetailsTbl tbody tr:last").find(".todateclss").val("");
		$("#workdetailsTbl tbody tr:last").find(".jobtitlecls").val("");
		$("#workdetailsTbl tbody tr:last").find(".jobtypecls").val("");
		$("#workdetailsTbl tbody tr:last").find(".deptcls").val("");
		$("#workdetailsTbl tbody tr:last").find(".empstatuscls").val("");
		$("#workdetailsTbl tbody tr:last").find(".deginationcls").val("");
		$("#workdetailsTbl tbody tr:last").find(".bandcls").val("");
		$("#workdetailsTbl tbody tr:last").find(".managerclss").val("");
		$("#workdetailsTbl tbody tr:last").find(".annualctccls").val("");

		var editTr = 0;

		if (lengthOfTableRow > editTr) {

			$("#workdetailsTbl tbody tr").eq(lengthOfTableRow - 1).find(
					'td:last').append(removeMore);
		}
		$("#workdetailsTbl > tbody > tr").each(function(i) {
			var selectInput = $(this).find('select');
			var textInput = $(this).find('input');
			var fileInput = $(this).find('file');
			var divInput = $(this).find('div');
			selectInput.eq(0).attr('id', "jobtypeid_" + i);
			selectInput.eq(1).attr('id', "departmentid_" + i);
			selectInput.eq(2).attr('id', "employmentstatusid_" + i);
			selectInput.eq(3).attr('id', "deginationid_" + i);
			selectInput.eq(4).attr('id', "managerid_" + i);

			textInput.eq(0).attr('id', "fromdateid_" + i);
			textInput.eq(1).attr('id', "todateid_" + i);
			textInput.eq(0).attr('id', "jobtitleid_" + i);
			textInput.eq(1).attr('id', "deginationid_" + i);
			textInput.eq(0).attr('id', "bandid_" + i);
			textInput.eq(1).attr('id', "annualctcid_" + i);

		})

	}
	function addMore4() {

		var lengthOfTableRow = $("#dependenttbodyData").children('tr').length;
		var cloneHtml = $("#docTbl tbody tr:first").clone();

		$("#fdependenttbl tbody").append(
				$("#fdependenttbl tbody tr:first").clone());
		$("#myTable tbody tr td:last").html("");
		var addMore = '<button type="button" class="btn btn-primary tr_clone_add" name="add" onclick="addMore4();"><span class="ti-plus"></span></button>&nbsp;'

		$("#fdependenttbl tbody tr:last").find(".ftypecls").val("");
		$("#fdependenttbl tbody tr:last").find(".dfirstnamecls").val("");
		$("#fdependenttbl tbody tr:last").find(".dlastnmaecls").val("");
		$("#fdependenttbl tbody tr:last").find(".ddobcls").val("");
		$("#fdependenttbl tbody tr:last").find(".dgendercls").val("");
		$("#fdependenttbl tbody tr:last").find(".drelationcls").val("");

		var editTr = 0;

		if (lengthOfTableRow > editTr) {

			$("#fdependenttbl tbody tr").eq(lengthOfTableRow - 1).find(
					'td:last').append(removeMore);
		}
		$("#fdependenttbl > tbody > tr").each(function(i) {
			var selectInput = $(this).find('select');
			var textInput = $(this).find('input');
			var fileInput = $(this).find('file');
			var divInput = $(this).find('div');

			selectInput.eq(0).attr('id', "genderidd_" + i);

			textInput.eq(0).attr('id', "typedid_" + i);
			textInput.eq(1).attr('id', "typednmaeid_" + i);
			textInput.eq(2).attr('id', "typenameid" + i);
			textInput.eq(3).attr('id', "typeDOBidd_" + i);
			textInput.eq(4).attr('id', "relationshipid_" + i);

		})

	}
</script>

<script>var columnDefs = [
	{ headerCheckboxSelection: true,
		headerCheckboxSelectionFilteredOnly: true, checkboxSelection: true,width: 10, sortable: false,filter: false,resizable: true},
		/* {headerName: "Emp ID", field: "Type" }, */
		
		
		{headerName: "Type", field: "type",
		cellRenderer: function(params){
		return '<a onclick=titlePage("' + params.data.employeeId + '") href="javascript:void(0)">' + params.data.type + '</a>';} },
		
		{headerName: "Address", field: "address"},
		{headerName: "City", field: "city"},
		{headerName: "State", field: "state"},
		
		
		{headerName: "Country", field: "country"},
		{headerName: "Zipcode", field: "zipCode"},
		{headerName: "Status", field: "status"},
		
		
		];




/* 
	 var rowdata = [
		{requisitionId: "8", jobTitle: 'Software Engineer', noPosition: "2", band: "Band 4", department: "Product development", hiringManager: "Pradip Singh", joinDate: "8-Nov-2020",
		minSalary: "400000", activityStatus: "Active"}
		];  */

		var gridOptions = {
		columnDefs: columnDefs,
		defaultColDef: {
		sortable: true,
		filter: true,
		resizable: true,
		width: 149,
		height: 10
		}

		};


		// setup the grid after the page has finished loading
		document.addEventListener('DOMContentLoaded', function() {
		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);


		

		});

		agGrid.simpleHttpRequest({url: 'view-emp-address-mstr-data'}).then(function(data) {	
			console.log(data)
		gridOptions.api.setRowData(data);
		});
		
		</script>
<script type="text/javascript">
	//employee image

	var expanded = false;
	function showCheckboxes() {
		if (!expanded) {
			$("#checkboxes").show();
			expanded = true;
		} else {
			$("#checkboxes").hide();

			expanded = false;
		}
	}
	function saveFile() {

		var uFile = $('#fileUpload')[0].files[0];
		var fileName = $('#fileUpload').val();

		var lastIndex = fileName.lastIndexOf("\\");
		if (lastIndex >= 0) {
			fileName = fileName.substring(lastIndex + 1);
		}
		var iURL = URL.createObjectURL(uFile);

		$('#imgemp').attr('src', '');
		$('#imgemp').attr('src', iURL);

		var fileData = new FormData();
		fileData.append('file', uFile);
		fileData.append('path', 'none');

		$.ajax({
			type : "POST",
			url : "manage-employee-upload-file",
			enctype : "multipart/form-data",
			contentType : false,
			data : fileData,
			processData : false,
			cache : false,
			success : function(response) {

			},
			error : function(e) {

			}
		});
	}

	function deleteFile() {

		$('#imgemp').attr('src', '');
		$('#imgemp').attr('src', '../assets/images/noimage.jpg');

		var fileData = new FormData();

		fileData.append('file', 'none');
		fileData.append('path', 'none');

		$.ajax({
			type : "POST",
			url : "manage-employee-delete-file",
			enctype : "multipart/form-data",
			contentType : false,
			/* data        : fileData, */
			processData : false,
			cache : false,
			success : function(response) {
				console.log("ABC")
			},
			error : function(e) {

			}
		});
	}
</script>


<script type="text/javascript">
	$(document).ready(function() {
		$("#saveEmployee").click(function() {

			data = {};

			data.employeeId = $("#employeeId").val();
			data.firstName = $("#firstnameid").val();
			data.lastName = $("#lastnameid").val();
			data.gender = $("#genderid").val();
			data.dob = $("#dobid").val();
			data.bloodGroup = $("#bloodgroupid").val();
			data.maritalStatus = $("#maritalstatusid").val();
			data.nationality = $("#nationalityid").val();
			data.fatherName = $("#fatherid").val();
			data.motherName = $("#motherid").val();
			data.mobileNo = $("#mobilenoid").val();
			data.personalMail = $("#personalmailid").val();
			data.workMail = $("#workmailid").val();

			submitemployee(data);

		})
		
		$("#submitemployeeaddress").click(function(){
		
		data = {};
		
		
		data.employeeId = $("#employeeId").val();
		
		
		data.type = $("#typeid_").val();
		data.address = $("#addressid_").val();
	
		
		data.city = $("#cityid_").val();
		data.state = $("#stateid_").val();
		data.country = $("#countryid_").val();
		data.zipCode = $("#zipcodeid_").val();
		data.status = $("#Status_").val();
		
		submitemployeeaddress(data);
	
		
	})

		$("#profilecancelbtn").click(function() {
			$("#newId").show();
			$(".btn-hs").show();
			$("#profile").hide();

		});

	});
</script>
<script type="text/javascript">
	$(document).ready(function() {

		$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});

		$('.collapse').on('hide.bs.collapse', function() {
			$(this).siblings('.panel-heading').removeClass('active');
		});
	});
</script>


<script type="text/javascript">
	function submitemployee(dataset) {
		console.log(dataset)
		$.ajax({
			type : "POST",
			url : "manage-employee-master-save",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(dataset),
			success : function(response) {
				if (response.message == "Success") {

					console.log(response.body)

					/* $("#myUL").show(); */
					$("#employeeId").text("");
					$("#employeeId").text(
							"employee Id :" + response.body.employeeId);
					/* 				var labeltxt = response.body.code + " - " + response.body.vendorName + " (0)"; */
					$("#employeeId").text(labeltxt);

				} else {
					swal({
						title : response.code,
						text : response.message,
						type : "warning"
					})
				}
			},
			error : function(response) {
				console.log(response);
			}
		})
	}
	
	
	
	function submitemployeeaddress(dataset) {
	
	    $.ajax({
	        type: "POST",
	        url: "manage-employee-address-save",
	        dataType: "json",
	        contentType: "application/json",
	        data: JSON.stringify(dataset),
	        success: function(response) {
	            if (response.message == "Success") {
	            	
	            	console.log(response.body)
	            	
	            	/* $("#myUL").show(); */
	            	agGrid.simpleHttpRequest({
	    		    	url : 'manage-vendor-master-through-ajax'
	    		    }).then(function(data) {
	    		    	console.log("dataa"+JSON.stringify(data))
	    		    	gridOptions.api.setRowData(data);
	    		    });

	            } else {
	                swal({
	                    title: response.code,
	                    text: response.message,
	                    type: "warning"
	                })
	            }
	        },
	        error: function(response) {
	            console.log(response);
	        }
	    })
	}

	var count = 0;
	function allCheck() {
		count++;

		if (count == 1) {
			$('.checkCls').prop("checked", true);
		} else {
			count = 0;
			$('.checkCls').prop("checked", false);
		}
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";
		if ($('#searchBar').val() == null || $('#searchBar').val() == "") {
			id.style.display = "none";
		}
	}

	function profileSelect() {
		$('#newId').hide();
		$("#profile").show();
	}
</script>
<script>
function openNav() {
	document.getElementById("mySidenav").style.cssText = "width: 250px; position: absolute; right:-30px; overflow: hidden; height:auto;";

	document.getElementById("main").style.width = "82%";
	}

	function closeNav() {
	document.getElementById("mySidenav").style.width = "0";
	document.getElementById("main").style.width = "100%";
	}
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="content-wrap">
			<div class="container-fluid">
				<div class="maincontent">
					<div class="row">

						<div class="maincontentsec">
							<div class="content_padding">
								<div id="newId">
									<div class="row margin_topbot btn-hs">
										<div class="col-md-8 btn-hs">
											<div class="input-style row">
												<input type="text" id="searchBar" placeholder="Search.."
													name="search" class="searchboxinput" onkeyup="cancelBar()">
												<div class="searchicon">
													<a href="#"><span style="display: none" id="closeKey"
														onclick="$('#searchBar').val('');document.getElementById('closeKey').style.display='none';"
														class="close_i">X</span></a><a href="#"><i
														class="fa fa-search"></i></a>
												</div>
											</div>
										</div>
									</div>
									<!--  <form enctype="multipart/form-data"> -->
									<div class="row">

										<div class="col-md-10  btn-hs">
											<div class="font-design">
												Employee List <span>(10)</span>
											</div>
										</div>
										<div class="col-md-2 btn-hs" align="right">
											<button class="btn4" onclick="profileSelect()">Upload</button>
											<button class="btn4">Download</button>

										</div>

									</div>

									<table class="newtbl" id="myTbl">
										<thead>
											<tr>
												<th align="center" width="20"><input id="check1"
													onclick="allCheck()" type="checkbox"><label
													for="check1"></label></th>
												<th>Employee ID</th>
												<th>Employee Name</th>
												<th>Location</th>
												<th>DOB</th>
												<th>Experience</th>
												<th>Source</th>
												<th>No of Application</th>
												<th>Candidate Status</th>
												<th>Resume</th>
												<th>Last Update</th>
												<th>Create Date</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td align="center"><input class="checkCls"
													type="checkbox" id="check2"><label for="check2"></label></td>
												<td align="center"><div data-toggle="collapse"
														class="txt-blue" onclick="profileSelect()">Emp0001</div></td>
												<td align="center"><div data-toggle="collapse"
														class="txt-blue" onclick="profileSelect()">Kamala
														Suresh</div></td>
												<td align="center">India</td>
												<td align="center">01/03/1998</td>
												<td align="center">1yr</td>
												<td align="center">LinkedIN</td>
												<td align="center">2</td>
												<td align="center">Active</td>
												<td align="center"><div data-toggle="collapse"
														class="txt-blue" data-target="#profile">View</div></td>
												<td align="center">9-dec-2020</td>
												<td align="center">9-Oct-2020</td>
											</tr>

										</tbody>
										<tbody>
											<tr>
												<td align="center"><input class="checkCls"
													type="checkbox" id="check3"><label for="check3"></label></td>
												<td align="center"><div data-toggle="collapse"
														class="txt-blue" onclick="profileSelect()">Emp0002</div></td>
												<td align="center"><div data-toggle="collapse"
														class="txt-blue" onclick="profileSelect()">Ashis
														Misra</div></td>
												<td align="center">India</td>
												<td align="center">01/04/1997</td>
												<td align="center">3yr</td>
												<td align="center">Indeed</td>
												<td align="center">2</td>
												<td align="center">Active</td>
												<td align="center"><div data-toggle="collapse"
														class="txt-blue" data-target="#profile">View</div></td>
												<td align="center">1-dec-2020</td>
												<td align="center">9-june-2020</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="main">
								<div id="profile" class="collapse">
									<div class="row">
										<div class="col-md-6 btn-hs"></div>
										<div class="col-md-12" align="right">
											<button class="btn4" id="profilecancelbtn">Cancel</button>
											<button class="btn1" id="saveEmployee">Save</button>
										</div>
										<div class="col-md-4">
											<input type="hidden" id="employeeId">
											<div class="hvrbox">
												<img src="../assets/images/noimage.jpg" id="imgemp"
													alt="Location" class="hvrbox-layer_bottom img-fluid"
													style="height: 203px; width: 241px;">
												<!-- <img src="../assets/images/noimage.jpg" alt="Location"
										class="hvrbox-layer_bottom img-fluid"> -->
												<div class="hvrbox-layer_top">
													<div class="hvrbox-text">
														<!-- <span><i class="fa fa-pencil-square-o"></i></span> -->
														<input type="file" id="fileUpload" hidden
															onchange="saveFile();" /> <span><label
															for="fileUpload"><i class="ti-files"
																style="cursor: pointer;"></i> <!-- <i class="fa fa-pencil-square-o"></i> --></label></span>
														<span><i class="fa fa-trash red"
															onclick="deleteFile();"></i></span>
													</div>
												</div>
											</div>
										</div>


									</div>
									<!-- <div class="col-md-12 mt-60">
										<div class="card-header">
											<a href="#" data-toggle="collapse" data-target="#demo21"
												style="color: #333; text-decoration: none;"
												aria-expanded="true" class="">INTERNAL JOURNEY </a> <a
												data-toggle="collapse" data-target="#demo21"
												style="float: right; color: #333; text-decoration: none;"
												aria-expanded="true" class=""><i
												class="fa fa-angle-down rotate-icon"></i></a>
										</div>
										
										<div id="demo21" class="collapse"> -->

									<!-- <div class="wrapper center-block">
										<div class="panel-group" id="accordion" role="tablist"
											aria-multiselectable="true">
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingOne">
													<h4 class="panel-title">
														<a role="button" data-toggle="collapse"
															data-parent="#accordion" href="#collapseOne"
															aria-expanded="true" aria-controls="collapseOne">
															INTERNAL JOURNEY </a>
													</h4>
												</div>
												<div id="collapseOne" class="panel-collapse collapse"
													role="tabpanel" aria-labelledby="headingOne">
													<div class="card-body">
														<div class="col-md-12 col-lg-12">
															<div id="tracking-pre"></div>
															<div id="tracking">
																<div class="tracking-item">
																	<div class="tracking-icon status-intransit">
																		<i class="fas fa-circle"></i>
																	</div>
																	<div class="tracking-content">
																		<span>9-Oct-17: Onboarded-Marketing Analyst
																			(Marketing department)</span>
																	</div>
																</div>
																<div class="tracking-item">
																	<div class="tracking-icon status-intransit">
																		<i class="fas fa-circle"></i>
																	</div>
																	<div class="tracking-content">
																		<span>1-Jan-18: Transitioned from Marketing
																			Analyst (Marketing department) to AP Analyst (Finance
																			Department)</span>
																	</div>
																</div>
																<div class="tracking-item">
																	<div class="tracking-icon status-intransit">
																		<i class="fas fa-circle"></i>
																	</div>
																	<div class="tracking-content">
																		<span>20-Dec-18: Promoted from AP Analyst
																			(Finance Department) to AP Lead (Finance department)</span>
																	</div>
																</div>
																<div class="tracking-item">
																	<div class="tracking-icon status-intransit">
																		<i class="fas fa-circle"></i>
																	</div>
																	<div class="tracking-content">
																		<span>14-Feb-20: Promoted from AP Lead (Finance
																			Department) to AP Manager (Finance department)</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div> -->
									<!-- <div class="card-header" role="tab" id="collapseOne1">
											<a data-toggle="collapse" data-parent="#accordionEx"
												href="#collapseOne" aria-expanded="true"
												aria-controls="collapseOne1"> Personal Information <i
												class="fa fa-angle-down rotate-icon"></i>

											</a>
										</div>
 -->
									<!-- <div class="card-header">
											<a href="#" data-toggle="collapse" data-target="#demo22"
												style="color: #333; text-decoration: none;"
												aria-expanded="true" class="">PERSONAL INFORMATION</a> <a
												data-toggle="collapse" data-target="#demo22"
												style="float: right; color: #333; text-decoration: none;"
												aria-expanded="true" class=""><i
												class="fa fa-angle-down rotate-icon"></i></a>
										</div>
										<div id="demo22" class="collapse"> -->
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingtwo">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse"
													data-parent="#accordion" href="#collapsetwo"
													aria-expanded="true" aria-controls="collapsetwo">
													PERSONAL INFORMATION </a>
											</h4>
										</div>
										<div id="collapsetwo" class="panel-collapse collapse "
											role="tabpanel" aria-labelledby="headingtwo">
											<div class="row form-box mb-10">


												<div class="col-md-4">
													<div class="form-group">
														<label>First Name</label> <input type="text"
															name="First Name" value="" placeholder="First Name"
															class="form-control" id="firstnameid">
													</div>
												</div>




												<div class="col-md-4">
													<div class="form-group">
														<label>Last Name</label> <input type="text"
															name="Last Name" value="" placeholder="Last Name"
															class="form-control" id="lastnameid">
													</div>
												</div>





												<div class="col-md-4">
													<div class="form-group">
														<label>Gender</label>
														<div class="select">
															<select class="form-control" id="genderid">
																<option>Select</option>
																<option th:each="c,iter:${genderTypeList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>DOB</label> <input type="text" name="Date of birth"
															value="" placeholder="Date of birth" class="form-control"
															id="dobid">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Blood Group</label>
														<div class="select">
															<select class="form-control" id="bloodgroupid">
																<option>Select</option>
																<option th:each="c,iter:${bloodgroupList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Marital Status</label>
														<div class="select">
															<select class="form-control" id="maritalstatusid">
																<option>Select</option>
																<option th:each="c,iter:${maritalstatusList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Nationality</label>
														<div class="select">
															<select class="form-control" id="nationalityid">
																<option>Select</option>
																<option th:each="c,iter:${nationalityList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Father Name</label> <input type="text"
															name="Father Name" value="" placeholder="Father Name"
															class="form-control" id="fatherid">
													</div>
												</div>



												<div class="col-md-4">
													<div class="form-group">
														<label>Mother Name</label> <input type="text"
															name="Mother Name" value="" placeholder="Mother Name"
															class="form-control" id="motherid">
													</div>
												</div>

























												<div class="col-md-4">
													<div class="form-group">
														<label>Mobile No</label> <input type="text"
															name="mobileno" value="" placeholder="mobileno"
															class="form-control" id="mobilenoid">
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														<label>Personal Mail</label> <input type="text"
															name="personalmail" value="" placeholder="personalmail"
															class="form-control" id="personalmailid">
													</div>
												</div>



												<div class="col-md-4">
													<div class="form-group">
														<label>Work Mail</label> <input type="text"
															name="workmail" value="" placeholder="workmail"
															class="form-control" id="workmailid">
													</div>
												</div>






											</div>
										</div>
									</div>


									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingtwothree">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse"
													data-parent="#accordion" href="#collapseaddress"
													aria-expanded="true" aria-controls="collapsetwothree">
													ADDRESS </a>
											</h4>
										</div>
										<div id="collapseaddress" class="panel-collapse collapse "
											role="tabpanel" aria-labelledby="headingtwothree">
											<div id="main">
											
											<div id="mySidenav" class="sidenav">
											<div class="slidebox">
												<div class="row">
													<div class="col-md-10">
														<div class="edit">Address</div>
													</div>
													<div class="col-md-2">
														<div class="arrow">
															<a href="javascript:void(0)" class="closebtn"
																onclick="closeNav()"><i class="ti-arrow-right"></i></a>
														</div>
													</div>
													</div>
													<div class="chartbtnsec">
														<div class="row">
															<button class="btn4">CANCEL</button>
															<button class="btn3">DELETE</button>
															<button class="btn1" id="submitemployeeaddress">SAVE</button>
														</div>
													</div>
												
													<div class="col-md-12 mt-15">
														<div class="form-group">
																<input type="text" name="type" value=""
																	placeholder="Type" class="form-control typecls"
																	id="typeid_">
															</div>
													</div>
													<div class="col-md-12 mt-15">
														<div class="form-group">
																<input type="text" name="Address" value=""
																	placeholder="Address" class="form-control adresscls"
																	id="addressid_">
															</div>
													</div>
													<div class="col-md-12 mt-15">
														<div class="form-group">


																<select class="form-control   cityclsss" id="cityid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${cityList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>

															</div>
													</div>
													<div class="col-md-12 mt-15">
														<div class="form-group">


																<select class="form-control stateclss" id="stateid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${stateList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>

															</div>

													</div>
													<div class="col-md-12 mt-15">
														<div class="form-group">


																<select class="form-control  countryclss"
																	id="countryid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${counntryList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>
													</div>
													<div class="col-md-12 mt-15">
														<div class="form-group">
																<input type="text" name="zipcode" value=""
																	placeholder="zipcode" class="form-control   zipclss"
																	id="zipcodeid_">
															</div>
													</div>
											<div class="col-md-12 mt-15">
														<div class="form-group">
																			<label>Status</label> <select id="Status_"
																				class="form-control">
																				<option value="Active">Active</option>
																				<option value="Inactive">Inactive</option>
																			</select>
																		</div>
													</div>
												
												<!-- </div> -->
											</div>
										</div>

											<div class="row">
												<div class="col-md-9">
													<div class="font-design"></div>
												</div>
												<div class="col-md-3 btn-hs" align="right">


													<button class="btn4">Download</button>
													<button class="btn3">Delete</button>
													<button class="btn1" onclick="openNav()">New</button>

												</div>
											</div>

<div id="myGrid" style="width:100%; height:100px;" class="ag-theme-alpine"></div>

</div>
<!-- 
											<table class="newtbl" id="addTbl">
												<thead>
													<tr class="tr_clone">
														<th align="center" width="20"><input id="checkAdd1"
															onclick="allCheck()" type="checkbox"><label
															for="checkAdd1"></label></th>
														<th width="180">Type</th>
														<th width="250">Address</th>

														<th width="180">City</th>
														<th width="180">State</th>
														<th width="180">Zip Code</th>
														<th width="180">Country</th>
														<th width="180">Status</th>

													</tr>
												</thead>
												<tbody id="addtbodyData">
													<tr>



														<td align="center"><input class="checkClsadd"
															type="checkbox" id="checkAdd2"><label
															for="checkAdd2"></label></td>
														<td>


															<div class="form-group">
																<input type="text" name="type" value=""
																	placeholder="Type" class="form-control typecls"
																	id="typeid_">
															</div>

														</td>
														<td>


															<div class="form-group">
																<input type="text" name="Address" value=""
																	placeholder="Address" class="form-control adresscls"
																	id="addressid_">
															</div>

														</td>

														<td>

															<div class="form-group">


																<select class="form-control   cityclsss" id="cityid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${cityList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>

															</div>
														</td>
														<td>

															<div class="form-group">


																<select class="form-control stateclss" id="stateid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${stateList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>

															</div>

														</td>


														<td>

															<div class="form-group">
																<input type="text" name="zipcode" value=""
																	placeholder="zipcode" class="form-control   zipclss"
																	id="zipcodeid_">
															</div>
														</td>
														<td>

															<div class="form-group">


																<select class="form-control  countryclss"
																	id="countryid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${counntryList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>

														</td>

														<td><div class="form-group">
																<input type="text" name="status" value=""
																	placeholder="Status"
																	class="form-control  statusaddclss" id="statusid_">
															</div></td>


													</tr>
												</tbody>
											</table> -->





										</div>
									</div>





									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingthree">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse"
													data-parent="#accordion" href="#collapsethree"
													aria-expanded="true" aria-controls="collapsethree">
													IDENTITY PROOF </a>
											</h4>
										</div>
										<div id="collapsethree" class="panel-collapse collapse "
											role="tabpanel" aria-labelledby="headingthree">
											<div class="row">
												<div class="col-md-9"></div>
												<div class="col-md-3 btn-hs" align="right">


													<button class="btn4">Download</button>
													<button class="btn3">Delete</button>
													<button class="btn1" onclick="addMore1();">New</button>
												</div>
											</div>



											<table  id="docTbl" cellspacing="7" cellpadding="7">
												<thead>
													<tr class="tr_clone">
                                                       <th align="center"></th>
														<th width="320">Document Type</th>
														<th width="320">Document No</th>

														<th width="280">Attachment</th>


													</tr>
												</thead>
												<tbody id="doctbodyData">
													<tr>


                                                      <td align="center" class="pdb-24"><input class="checkCls" type="checkbox" id="check2"><label for="check2"></label></td>
														<td><div class="form-group">


																<select class="form-control  documentclss" id="docid_0">
																	<option value="">Select</option>
																	<option th:each="c,iter:${documenttypeList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>
															</td>

														<td><div class="form-group">
																<input type="text" name="status" value=""
																	placeholder="Passport No" class="form-control  docNoclss"
																	id="docnoid_">
															</div></td>
														<td>
															<!-- <div class="upload-btn-wrapper">
																<div class="controls">
																	<input type="file" class="documentclssup"
																		style="display: block;" id="uploadDoc_0"
																		onchange="saveFile(event)" />

																</div>
															</div>  <input type="hidden"
															id="uploadHidden_0" class="uploadHidCls">
															<div id="uploadedBillDiv_0" align="center"
																class="uploadedBillCls"></div> -->

															<div class="control-group position-r">
																<label class="custom-file-upload" for="userImage">
																	<i class="ti-plus"></i>
																</label>
																<div class="controls">
																	<input id="userImage" name="userImage" type="file"
																		class="form-control" accept="image/*" required="">
																</div>
															</div>

															<div class="uploadicon position-l">
																<i class="fa fa-file-pdf-o"></i> 
															</div>
														</td>






													</tr>
												</tbody>
											</table>


										</div>
									</div>
									<!-- <div class="card-header">
											<a href="#" data-toggle="collapse" data-target="#demo24"
												style="color: #333; text-decoration: none;"
												aria-expanded="true" class="">WORK DETAILS</a> <a
												data-toggle="collapse" data-target="#demo24"
												style="float: right; color: #333; text-decoration: none;"
												aria-expanded="true" class=""><i
												class="fa fa-angle-down rotate-icon"></i></a>
										</div>
										<div id="demo24" class="collapse"> -->
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingfour">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse"
													data-parent="#accordion" href="#collapsefour"
													aria-expanded="true" aria-controls="collapsefour"> WORK
													DETAILS </a>
											</h4>
										</div>
										<div id="collapsefour" class="panel-collapse collapse "
											role="tabpanel" aria-labelledby="headingfour">
											<div class="row">
												<div class="col-md-9"></div>
												<div class="col-md-3 btn-hs" align="right">
													<button class="btn4">Download</button>
													<button class="btn3">Delete</button>

													<button class="btn1" onclick="addMore3();">New</button>



												</div>
											</div>



											<table class="workdetailscls" id="workdetailsTbl">
												<thead>
													<tr class="tr_clone">


														<th align="center" width="150">Start Date</th>
														<th width="150">End Date</th>
														<th width="150">Job Title</th>
														<th width="150">Job Type</th>
														<th width="150">Department</th>
														<th width="150">Employment Status</th>
														<th width="150">Degination</th>
														<th width="150">Band</th>
														<th width="150">Manager</th>
														<th width="150">Annual CTC</th>

													</tr>
												</thead>
												<tbody id="workdetailstbodyData">
													<tr>
														<td>


															<div class="form-group">
																<input type="text" name="From Date" value=""
																	placeholder="From Date"
																	class="form-control   fromdatecls" id="fromdateid_">
															</div>




														</td>
														<td>


															<div class="form-group">
																<input type="text" name="to Date" value=""
																	placeholder="To Date" class="form-control  todateclss"
																	id="todateid_">
															</div>




														</td>
														<td>


															<div class="form-group">
																<input type="text" name="job title" value=""
																	placeholder="Job Title"
																	class="form-control  jobtitlecls" id="jobtitleid_">
															</div>




														</td>





														<td>
															<div class="form-group">


																<select class="form-control   jobtypecls"
																	id="jobtypeid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${jobtypeList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>

														</td>

														<td>

															<div class="form-group">


																<select class="form-control deptcls" id="departmentid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${DepartmentList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>

														</td>


														<td><div class="form-group">


																<select class="form-control   empstatuscls"
																	id="employmentstatusid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${employmentstatusList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>

															</div></td>


														<td>

															<div class="form-group">
																<input type="text" name="Degination" value=""
																	placeholder="Degination"
																	class="form-control deginationcls" id="deginationid_">
															</div>
														</td>


														<td><div class="form-group">
																<input type="text" name="Band" value=""
																	placeholder="Band" class="form-control bandcls"
																	id="bandid_">
															</div></td>

														<td><div class="form-group">


																<select class="form-control managerclss" id="managerid_">
																	<option value="">Select</option>
																	<option th:each="c,iter:${ManagerList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>

															</div></td>

														<td><div class="form-group">
																<input type="text" name="Annual CTC" value=""
																	placeholder="Annual CTC"
																	class="form-control annualctccls" id="annualctcid_">
															</div></td>


													</tr>
												</tbody>
											</table>



										</div>
									</div>
									<!-- <div class="card-header">
											<a href="#" data-toggle="collapse" data-target="#demo25"
												style="color: #333; text-decoration: none;"
												aria-expanded="true" class="">BENEFIT STRUCTURE</a> <a
												data-toggle="collapse" data-target="#demo25"
												style="float: right; color: #333; text-decoration: none;"
												aria-expanded="true" class=""><i
												class="fa fa-angle-down rotate-icon"></i></a>
										</div>

										<div id="demo25" class="collapse"> -->
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingfive">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse"
													data-parent="#accordion" href="#collapsefive"
													aria-expanded="true" aria-controls="collapsefive">
													BENEFIT STRUCTURE </a>
											</h4>
										</div>
										<div id="collapsefive" class="panel-collapse collapse"
											role="tabpanel" aria-labelledby="headingfive">
											<div class="col-md-12">
												<div class="modal-inrheading">Benefits</div>
												<div class="row">
													<th:block th:each="c,iter:${benefitsList}">
														<div class="col-md-3">
															<div class="checkbox">
																<input type="checkbox" value=""
																	th:id="'benefits_'+${iter.index}" th:value='${c.key}'
																	name="benefits"><span th:text="${c.name}"></span>
															</div>
														</div>
													</th:block>
												</div>
											</div>


										</div>
									</div>

									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingten">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse"
													data-parent="#accordion" href="#collapseten"
													aria-expanded="true" aria-controls="collapseten">
													DEPENDENTS </a>
											</h4>
										</div>
										<div id="collapseten" class="panel-collapse collapse"
											role="tabpanel" aria-labelledby="headingten">


											<div class="row">
												<div class="col-md-9"></div>
												<div class="col-md-3 btn-hs" align="right">


													<button class="btn4">Download</button>
													<button class="btn3">Delete</button>
													<button class="btn1" onclick="addMore4();">New</button>

												</div>
											</div>



											<table class="famtbl" id="fdependenttbl">
												<thead>
													<tr>

														<th align="center" width="180">Type</th>
														<th width="180">First Name</th>
														<th width="180">Last Name</th>
														<th width="180">DOB</th>
														<th width="180">Gender</th>
														<th width="180">Relationnship</th>


													</tr>
												</thead>
												<tbody id="dependenttbodyData">
													<tr>
														<td>


															<div class="form-group">
																<input type="text" name="Type" value=""
																	placeholder="Type" class="form-control ftypecls"
																	id="typedid_">
															</div>




														</td>
														<td>


															<div class="form-group">
																<input type="text" name="First Name" value=""
																	placeholder="First Name"
																	class="form-control dfirstnamecls" id="typednmaeid_">
															</div>




														</td>
														<td>


															<div class="form-group">
																<input type="text" name="Last Name" value=""
																	placeholder="Last Name"
																	class="form-control dlastnmaecls" id="typenameid">
															</div>




														</td>


														<td>


															<div class="form-group">
																<input type="text" name="DOB" value="" placeholder="DOB"
																	class="form-control  ddobcls" id="typeDOBidd_">
															</div>




														</td>


														<td>
															<div class="form-group">


																<select class="form-control  dgendercls" id="genderidd_">
																	<option>Select</option>
																	<option th:each="c,iter:${genderTypeList}"
																		th:value="${c.key}" th:text="${c.name}"></option>
																</select>
															</div>

														</td>



														<td>

															<div class="form-group">
																<input type="text" name="Relationship" value=""
																	placeholder="Relationship"
																	class="form-control  drelationcls" id="relationshipid_">
															</div>
														</td>





													</tr>
												</tbody>
											</table>



										</div>
									</div>





























									<!-- <div class="card-header">
											<a href="#" data-toggle="collapse" data-target="#demo26"
												style="color: #333; text-decoration: none;"
												aria-expanded="true" class="">BANK DETAILS</a> <a
												data-toggle="collapse" data-target="#demo26"
												style="float: right; color: #333; text-decoration: none;"
												aria-expanded="true" class=""><i
												class="fa fa-angle-down rotate-icon"></i></a>
										</div>
										<div id="demo26" class="collapse"> -->
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingsix">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse"
													data-parent="#accordion" href="#collapsesix"
													aria-expanded="true" aria-controls="collapsesix"> BANK
													DETAILS </a>
											</h4>
										</div>
										<div id="collapsesix" class="panel-collapse collapse"
											role="tabpanel" aria-labelledby="headingsix">
											<div class="row form-box">



												<div class="col-md-4">
													<div class="form-group">
														<label>Bank Name</label>
														<div class="selectbox">
															<select class="form-control" id="banknameid">
																<option>Select</option>
																<option th:each="c,iter:${BankNameList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>


												<div class="col-md-4">
													<div class="form-group">
														<label> Bank Account No</label> <input type="text"
															name="BankAccountNo" value=""
															placeholder="Bank Account No" class="form-control"
															id="bankaccountnoid">
													</div>
												</div>


												<div class="col-md-4">
													<div class="form-group">
														<label> IFSC</label> <input type="text" name="IFSC"
															value="" placeholder="IFSC" class="form-control"
															id="ifscid">
													</div>
												</div>




											</div>

										</div>
									</div>
									<!-- <div class="card-header">
											<a href="#" data-toggle="collapse" data-target="#demo27"
												style="color: #333; text-decoration: none;"
												aria-expanded="true" class="">INSURANCE DETAILS</a> <a
												data-toggle="collapse" data-target="#demo27"
												style="float: right; color: #333; text-decoration: none;"
												aria-expanded="true" class=""><i
												class="fa fa-angle-down rotate-icon"></i></a>
										</div>

										<div id="demo27" class="collapse"> -->
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingseven">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse"
													data-parent="#accordion" href="#collapseseven"
													aria-expanded="true" aria-controls="collapseseven">
													INSURANCE DETAILS </a>
											</h4>
										</div>
										<div id="collapseseven" class="panel-collapse collapse"
											role="tabpanel" aria-labelledby="headingseven">
											<div class="row form-box">
												<div class="col-md-4">
													<div class="form-group">
														<label>Have Health Insurance</label>
														<div class="selectbox">
															<select class="form-control" id="healthinsuranceid">
																<option>Select</option>
																<option th:each="c,iter:${healthinsuranceList}"
																	th:value="${c.key}" th:text="${c.name}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label> From Date</label> <input type="text"
															name="From Date" value="" placeholder="From Date"
															class="form-control" id="fromdateid">
													</div>
												</div>


												<div class="col-md-4">
													<div class="form-group">
														<label> To Date</label> <input type="text" name="To Date"
															value="" placeholder="To Date" class="form-control"
															id="todateid">
													</div>
												</div>

											</div>


										</div>
									</div>
								</div>
</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
</body>
</html>